<header class="side-padding darkHeader">
  <div class="logo">
    <a href="./index.html">
      <img class="logoImg" src="./res/img/header_footer/logo_en.png" alt="logo" />
    </a>
  </div>
  <div class="hamburger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <div class="right-side">
    <div class="right-side__navigation">
      <h5><a class="element nav" data="nav.home" href="./index.html">Home</a></h5>
      <h5><a class="element nav" data="nav.formal" href="./formal-lessons.html">Formal education</a></h5>
      <h5><a class="element nav" data="nav.nonformal" href="./informal-lessons.html">Informal education</a></h5>
      <h5><a class="element nav" data="nav.products" href="./products.html">Plans & Packages</a></h5>
      <h5><a class="element nav" data="nav.sample" href="./sample.html">Sample</a></h5>
      <h5><a class="element nav" data="nav.projects" href="./projects.html">Projects</a></h5>
      <!-- <h5><a class="element nav" data="nav.contacts" href="./contacts.html">Contacts</a></h5> -->
      <div class="right-side__language flex-row">
        <button class="lt" value="en" id="langSelector">
          <h5>LT</h5>
        </button>
        <button class="en" value="lt" id="langSelector">
          <h5>EN</h5>
        </button>
      </div>
    </div>
  </div>
</header>