<header class="side-padding darkHeader">
  <div class="logo">
    <a href="./index.html">
      <img class="logoImg" src="./res/img/header_footer/logo_en.png" alt="logo" />
    </a>
  </div>
  <div class="hamburger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <div class="right-side">
    <div class="right-side__navigation">
      <!-- <h5><a class="element nav" data="nav.home" href="./index.html">Home</a></h5> -->

      <div class="dropdown">
        <button class="element nav" data="nav.lessons">Lessons</button>
        <svg class="dropdown-arrow" width="9" height="5" viewBox="0 0 9 5" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M1 1L4.68421 4L8 1" stroke="white" stroke-width="1.5" stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>

        <div class="dropdown-invisible-space"></div>

        <div class="dropdown-content">
          <h5><a class="element nav" data="nav.formal" href="./formal-lessons.html">Formal education</a></h5>
          <h5><a class="element nav" data="nav.nonformal" href="./informal-lessons.html">Informal education</a></h5>
        </div>
      </div>

      <h5><a class="element nav" data="nav.products" href="./products.html">Package Offers</a></h5>
      <h5><a class="element nav" data="nav.sample" href="./sample.html">Sample</a></h5>
      <h5><a class="element nav" data="nav.projects" href="./projects.html">Projects</a></h5>
      <!-- <h5><a class="element nav" data="nav.contacts" href="./contacts.html">Contacts</a></h5> -->
      <div class="right-side__language flex-row">
        <button class="lt" value="en" id="langSelector">
          <h5>LT</h5>
        </button>
        <button class="en" value="lt" id="langSelector">
          <h5>EN</h5>
        </button>
      </div>
    </div>
  </div>
</header>