$bgHero: #273f52;
$bgFooter: #3963dd;
$bgStats: #fdd306;
$bgSection: #eaf2ff;
$bgDarkSection: #a3c1f6;
$bgBtn: #f14b00;
$fontColor: #273f52;
$subfontColor: #4b6072;
$btnOrange: #f14b00;
$aColor: #f8743f;
$overlayColor: #f9ecb4;
$bgLightSection: #a3c1f6;
