@use "./breaks" as *;

.companies {
  height: 8vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  @include mq1024 {
    height: 6vh;
  }
  @include mq480 {
    background-size: 85%;
  }
}

.game-learning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__title {
    flex: 1;
    max-width: 60%;
    @include mq1500 {
      max-width: unset;
    }
  }
  &__benefits {
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    @include mq480 {
      flex-direction: column !important;
    }

    p {
      max-width: 380px;
      padding: 2%;
      @include mq480 {
        max-width: 200px;
      }
    }
    img {
      @include mq1024 {
        transform: scale(0.7);
      }
      @include mq480 {
        transform: rotate(90deg) scale(0.6);
      }
    }
  }
  &__img {
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0%;
    img {
      width: 80%;
      @include mq1500 {
        width: 70%;
      }
      @include mq1024 {
        width: 60%;
      }
      @include mq480 {
        width: 100%;
      }
    }
  }
}

.research {
  display: flex;
  flex-direction: column;
  background: url(res/img/reusable/gediminas-tower.png) no-repeat center center;
  background-size: cover;

  &__topWrapper {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    @include mq1500 {
      padding: 5% 10% 0 10% !important;
    }
    @include mq1500plus {
      padding: 5% 10% 15% 10% !important;
    }
    button {
      margin: 5% 0;
    }
    .container {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      margin: 5% 0;
      @include mq1500 {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      .box {
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        flex: 1;
        width: 30%;
        max-width: 500px;
        margin: 1rem 1rem 1rem 0;
        padding: 1rem 0;
        @include mq1500 {
          width: unset;
          min-height: 160px;
        }
        @include mq1024 {
          display: flex;
        }

        @include mq480 {
          width: 100%;
          max-height: 100px;
          min-height: unset;
          min-width: 226px;
        }
        * {
          align-self: center;
        }
        img {
          justify-self: center;
          @include mq1024 {
            transform: scale(0.7);
          }
          @include mq480 {
            width: 30%;
          }
        }
        h4 {
          padding: 1rem;
        }
      }
    }
  }
  &__bottomWrapper {
    position: relative;
    bottom: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding-top: 10%;
    width: 58%;
    @include mq1500 {
      width: unset;
    }
  }
}

.teacherSupport {
  display: flex;
  margin: 0 5%;
  justify-content: space-around;
  min-height: 500px;
  padding: 5% 10% 5% 10%;
  @include mq1500 {
    margin-bottom: unset !important;
  }
  @include mq1024 {
    flex-direction: column;
    align-items: center;
    padding: 5% 10% 10% 10%;
  }
  @include mq480 {
    min-height: 500px;
  }

  img {
    position: absolute;
    max-width: 128px;
    @include mq1024 {
      width: 50%;
    }
  }

  .left {
    top: 15%;
    right: 0;
    margin-right: 95%;
    @include mq480 {
      top: 80%;
    }
  }

  .right {
    right: 10px;
    margin-top: -15px;
  }
  .right2 {
    left: 0;
    top: 50%;
    margin-left: 85%;
  }

  .text {
    position: relative;
    padding-right: 1rem;
    margin: 0 10%;
    @include mq480 {
      margin: 0;
    }
  }

  &__wrapper1 {
    justify-content: flex-start;
    @include mq1024 {
      margin-right: 10vw;
      max-width: 60%;
    }
  }
  &__wrapper2 {
    align-items: center;

    @include mq1500 {
      margin-bottom: 50px;
    }

    @include mq1024 {
      margin-left: 30vw;
      max-width: 60%;
      margin-bottom: unset;
    }
  }
  &__wrapper3 {
    align-items: flex-end;

    @include mq1024 {
      margin-right: 50%;
      max-width: 60%;
    }
  }
}

.community {
  display: flex;
  position: relative;
  flex-direction: column;
  &__card {
    position: absolute;
    min-width: 35vh;
    max-width: 450px;
    left: 10%;
    top: 40%;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
      0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    @include mq1024 {
      top: 45%;
      margin: 0 auto;
    }
    @include mq767 {
      top: unset;
      bottom: 5%;
      left: 0;
      right: 0;
      width: 50%;
    }

    .splide__pagination__page.is-active {
      background-color: yellow;
    }
    .splide__pagination__page {
      border-radius: 0 !important;
      width: 10px;
      height: 10px;
      border: 1px solid #fdd306;
      margin: 0.5rem;
      z-index: 2;
    }
    .paginator {
      display: flex;
      list-style: none;
      justify-content: center;
      align-items: center;
      padding-bottom: 1rem;
    }
  }
  .Qmark {
    position: absolute;
    top: -90px;
    left: 20px;
    @include mq1024 {
      transform: scale(0.5);
      top: -70px;
      left: -10px;
    }
    @include mq480 {
      transform: scale(0.3);
      left: -20%;
    }
  }
  .slide {
    padding: 10% 10% 0 10%;
    height: 100%;
    @include mq1500 {
      padding: 7% 5% 0 5%;
    }
    @include mq480 {
      padding: 10% 1rem 0 1rem;
    }
    &__title {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 2;
      width: 90%;
      min-height: 200px;
      padding-top: 5%;
      @include mq1500 {
        min-height: unset;
        padding-top: unset;
      }
      @include mq480 {
        min-height: 110px;
      }
    }
    &__body {
      flex: 1;
      width: 80%;
      @include mq1024 {
        width: 100%;
      }
      img {
        max-width: 70px;
        max-height: 70px;
        margin: auto 0;
        @include mq1024 {
          transform: scale(0.75);
        }
      }
      .user {
        padding: 1rem;
        justify-content: center;
        &__name {
          padding-bottom: 0.25rem;
          font-weight: 600;
        }
      }
    }
  }

  &__topWrapper {
    background: url(res/img/main/Group433.png) no-repeat center center;
    background-size: cover;
    padding: 5% 10%;
    @include mq1500 {
      background-size: auto;
    }
    img {
      position: absolute;
    }
    &-left {
      flex: 1;
      padding: 0 0 0 5%;
      @include mq767 {
        display: none;
      }
    }
    &-right {
      justify-content: center;
      flex: 1;
      padding: 0 5% 0 0;
      max-width: 50%;
      @include mq1500 {
        flex: 2;
        max-width: unset;
      }
    }
  }

  &__bottomWrapper {
    padding: 5%;
    min-height: 430px;
    @include mq1024 {
      min-height: 300px;
    }
    &-left {
      flex: 1;
    }
    &-right {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      @include mq1500 {
        display: none;
      }
    }
  }
}
.achievements {
  justify-content: space-between;
  background: url(res/img/main/Component17.png) no-repeat center 150px;
  background-size: 100%;
  @include mq1024 {
    background: url(res/img/main/Group\ 512.png) no-repeat center 45px;
    background-size: 100%;
    z-index: -1;
  }
  &__container {
    @include mq1024 {
      flex-direction: column;
      align-items: center;
    }
  }
  .box {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1rem;
    max-width: 30%;
    text-align: center;
    @include mq1024 {
      max-width: 400px;
      height: 200px;
    }
    @include mq480 {
      grid-template-rows: unset;
      height: unset;
      grid-gap: unset;
      margin-bottom: 30px;
    }
    &__top {
      @include mq480 {
        max-height: 80px;
      }
      img {
        @include mq480 {
          max-width: 100px;
          max-height: 50px;
        }
      }
    }
    &__bottom {
      align-self: start;
    }
  }
  h2 {
    text-align: center;
  }
}

.services {
  justify-content: space-between;
  background: url(res/img/main/Pilis2.png) no-repeat center;
  background-size: cover;
  &__title {
    justify-content: center;
    align-items: flex-start;
    padding: 2% 0 5% 0;
    @include mq480 {
      height: unset;
    }
  }
  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    @include mq1500 {
      width: 100%;
    }
  }
  img {
    position: absolute;
  }
  &__card {
    position: relative;
    height: 20vw;
    width: 20vw;
    max-width: 350px;
    max-height: 350px;
    margin: 0 auto;
    padding: 1rem;
    @include mq1500 {
      height: 25vw;
      width: 25vw;
    }
    @include mq1024 {
      height: 25vw;
      width: 25vw;
      min-width: unset;
      min-height: unset;
    }
    @include mq767 {
      height: 35vw;
      width: 35vw;
    }
    @include mq480 {
      min-width: 120px;
      min-height: 120px;
    }
    .frame {
      width: 25vw;
      height: 25vw;
      max-width: 430px;
      max-height: 430px;
      @include mq1500 {
        width: 30vw;
        height: 30vw;
      }
      @include mq1024 {
        height: 30vw;
        width: 30vw;
      }
      @include mq767 {
        height: 45vw;
        width: 40vw;
      }
      @include mq480 {
      }
    }
    a {
      z-index: 999;
    }
  }
  &__cardBig {
    position: relative;
    height: 25vw;
    width: 25vw;
    max-width: 350px;
    max-height: 350px;
    margin: 0 auto;
    @include mq1024 {
      min-width: 210px;
    }
    @include mq767 {
      height: 35vw;
      width: 35vw;
      min-width: unset;
    }
    @include mq480 {
      min-width: 120px;
      min-height: 120px;
    }
    .frame {
      width: 30vw;
      height: 30vw;
      max-width: 430px;
      max-height: 430px;
      @include mq1024 {
        min-width: 260px;
        min-height: unset;
      }
      @include mq767 {
        height: 43vw;
        width: 43vw;
      }
      @include mq480 {
        min-width: unset;
        min-height: unset;
      }
    }
    a {
      z-index: 999;
    }
  }

  &__cardLeft {
    flex: 1;
    margin-top: 10%;
    @include mq767 {
      margin-top: 40%;
    }
  }
  &__cardMiddle {
    flex: 1;
    margin-top: -20%;
    @include mq767 {
      position: absolute;
      top: 25%;
      left: 0;
      right: 0;
    }
  }
  &__cardRight {
    flex: 1;
    margin-top: 10%;
    @include mq767 {
      margin-top: 40%;
    }
  }
}
////////////////////////////////
//FORMAL PAGE
////////////////////////////////
.package {
  justify-content: center;
  align-items: center;
  @include mq480 {
    padding: 5% !important;
  }
  &__title {
    margin: 0 10vw 10% 10vw;
    @include mq1500 {
      margin: 0 5vw 10% 5vw;
    }
  }
  &__card {
    position: relative;
    min-width: 100%;
    height: 60%;
    align-items: center;

    &-big {
      position: absolute;
      width: 30vw;
      height: 20vw;
      min-height: 250px;
      padding: 0 5%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      @include mq1024 {
        min-height: 200px;
      }
      @include mq767 {
        min-width: 220px;
        min-height: 180px;
        width: 45vw;
      }
      @include mq480 {
        min-height: 150px;
      }

      img {
        position: absolute;
        top: 80%;
        width: 12vw;
        min-width: 80px;
        @include mq767 {
          left: -10%;
        }
      }
      &_text {
        h4 {
          @include mq767 {
            text-align: center;
          }
        }
      }
    }
    &-container {
      justify-content: space-between;
      width: 100%;
      margin: 0 10%;
      @include mq1500 {
        margin: 0 5% !important;
      }
      // @include mq1024 {
      //   margin: 0 5% !important;
      // }
      @include mq767 {
        position: relative;
        flex-direction: column !important;
        height: 350px;
      }
      @include mq480 {
        height: 310px;
      }
      &_small {
        position: relative;
        min-height: 15vw;
        width: 18vw;
        padding: 1rem 5%;
        @include mq1500 {
          width: 24vw;
        }
        @include mq1024 {
          width: 28vw;
        }
        @include mq767 {
          position: absolute;
          min-width: 180px;
          min-height: 100px;
          &:nth-child(2) {
            bottom: 0;
            right: 0;
          }
        }
        @include mq480 {
          &:first-child {
            margin-bottom: 200px;
          }
        }
        &_text {
          @include mq767 {
            text-align: center;
          }
        }
        img {
          position: absolute;
          width: 10vw;
          min-width: 70px;
        }
        .right {
          margin-left: 18vw;
          bottom: -25%;
          @include mq1500 {
            right: -15%;
          }
          @include mq767 {
            top: -40%;
            right: 0;
            margin-top: unset;
          }
        }
        .left {
          margin-right: 18vw;
          margin-top: 18vw;
          @include mq1500 {
            left: -25%;
          }
          @include mq767 {
            right: -20%;
            bottom: -20%;
            left: unset;
            margin-right: unset;
          }
        }
      }
    }
  }
}

.download {
  padding: 10% 5% 12% 5%;
  @include mq480 {
    padding: 10% 5% 20% 5%;
  }
  &__container {
    justify-content: center;
    align-items: center;
    h3 {
      @include mq480 {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 400;
      }
    }
    button {
      padding: 1rem 2rem;
      margin-left: 1rem;
      * {
        padding: 0 0.25rem;
      }
      img {
        @include mq1024 {
          transform: scale(0.7);
        }
      }
    }
  }
}

.orderNow {
  position: absolute;
  right: 0;
  width: 30%;
  min-width: 400px;
  max-width: 600px;
  padding: 3% 2%;
  margin-top: -8%;
  margin-right: 10%;
  z-index: 99;
  @include mq480 {
    position: unset;
    width: 100%;
    min-width: unset;
  }
  &__card {
    padding: 1rem;
    @include mq1500 {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    &-btn {
      padding: 1rem 2rem;
    }
  }
}

.lessons {
  justify-content: space-around;
  position: relative;
  &__background {
    position: absolute;
    height: 70%;
    right: 0;
    left: 0;
    top: 0;
    z-index: -1;
  }
  &__title {
    margin-left: 20%;
    display: flex;
    align-items: center;
    padding: 12rem 0 5% 0;
    @include mq480 {
      padding: 5% 0;
    }
  }
  &__slider {
    position: relative;
    padding-bottom: 5%;
    margin: 0 10%;
    @include mq1500 {
      width: 50%;
      margin: 0 auto;
    }
    @include mq1024plus {
      padding: 0 5% !important;
    }
    @include mq767 {
      width: 60%;
      margin: 0 auto;
    }
    @include mq480 {
      width: 70%;
      padding: 0 !important;
    }
    &-card {
      display: flex;
      flex-direction: column;
      &_txt {
        max-height: 200px;
        padding: 20% 10px;
        @include mq480 {
          padding: 10% 10px;
        }
      }
      img {
        width: 100%;
        transform: scale(1, 1.05);
      }
    }
  }
}

.reviews {
  display: flex;
  position: relative;
  flex-direction: column;
  &__inter-card {
    position: absolute;
    text-align: center;
    width: 50vw;
    max-width: 600px;
    top: -15%;
    left: 5%;
    right: 60%;
    padding: 4rem;
    @include mq1500 {
      padding: 3rem;
      width: 500px;
      max-width: unset;
    }
    @include mq1500 {
      position: unset;
      width: 100%;
      padding: 1.5rem 10%;
    }
  }
  &__card {
    position: absolute;
    max-width: 500px;
    bottom: 170px;
    right: 10%;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
      0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    @include mq1500 {
      right: 5%;
      bottom: 5%;
    }
    @include mq1024 {
      bottom: 30px;
      left: 0;
      right: 0%;
      margin: 0 auto;
      max-width: 400px;
    }
    @include mq767 {
      margin: 0 auto;
      min-width: 220px;
      max-width: 284px;
    }
    @include mq480 {
      width: 80%;
    }

    .Qmark {
      @include mq767 {
        transform: scale(0.5);
      }
      @include mq480 {
        right: -15% !important;
      }
    }
    .splide__pagination__page.is-active {
      background-color: yellow;
    }
    .splide__pagination__page {
      border-radius: 0 !important;
      width: 15px;
      height: 15px;
      border: 1px solid #fdd306;
      margin: 0.5rem;
      z-index: 2;
      @include mq767 {
        height: 8px;
        width: 8px;
      }
    }
    .paginator {
      display: flex;
      height: 100px;
      list-style: none;
      justify-content: center;
      align-items: center;
      @include mq1024 {
        height: unset;
        padding: 2rem;
      }
    }
  }
  .Qmark {
    position: absolute;
    top: -75px;
    left: 20px;
    @include mq1500 {
      transform: scale(0.75);
    }
    @include mq1024 {
      transform: scale(0.5);
      left: 0;
    }
  }
  .slide {
    height: 100%;
    padding: 15% 10% 0 10%;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
  }

  &__topWrapper {
    flex: 1.5;
    background: url(res/img/formal/Group431.png) no-repeat center center;
    background-size: cover;

    &-title {
      width: 80%;
      margin: 300px auto 5% auto;
      text-align: center;
      @include mq1500 {
        margin: 5% auto;
      }
    }

    &-container {
      justify-content: space-between;
      padding: 0 5% 250px 5%;
      @include mq1024 {
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0;
      }
      &_card {
        position: relative;
        height: 20vh;
        min-width: 185px;
        min-height: 190px;
        text-align: center;
        margin: 0 5%;
        padding: 2rem;
        @include mq1500 {
          height: 20vw;
        }
        @include mq1024 {
          width: 25%;
          margin: 0 2rem 50px 2rem;
        }
        @include mq480 {
          transform: scale(0.75);
          margin: 0;
        }
        .cardLeft {
          left: -2.5vh;
          bottom: -20%;
        }
        .cardMiddle {
          right: -3.5vh;
          bottom: -20%;
        }
        .cardRight {
          right: -3.5vh;
          top: -2.5vh;
          @include mq480 {
            right: -6vh;
          }
        }

        img {
          position: absolute;
        }
      }
    }

    .left {
      flex: 1;
      padding: 0 0 0 5%;
    }
    .right {
      justify-content: center;
      flex: 1;
      padding: 0 5% 0 0;
      max-width: 45%;
    }
  }

  &__bottomWrapper {
    flex: 1;
    padding: 200px 0;
    @include mq1500 {
      padding: 10% 5%;
    }
    @include mq1024 {
      padding: 5% 5% 400px 5%;
    }
    @include mq480 {
      padding: 5% 5% 300px 5%;
    }
    .right {
      flex: 1;
      @include mq1024 {
        display: none;
      }
    }
    .left {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      h2 {
        @include mq1024 {
          text-align: center;
        }
      }
    }
  }
}

.keyBenefits {
  position: relative;
  .overlay {
    position: absolute;
    text-align: center;
    bottom: 0;
    right: 100%;
    left: 0;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: 0.5s ease-in-out;
  }
  &__box {
    position: relative;

    text-align: center;
    height: 200px;
    width: 200px;
    margin: 1rem;
    padding: 1rem;
    @include mq1500 {
      white-space: normal;
    }
    @include mq767 {
      width: 70%;
      height: 100px;
    }
    @include mq480 {
      width: 80%;
      height: 100px;
    }

    &:hover .overlay {
      width: 100%;
      right: 0;
    }
  }
  &__container {
    justify-content: space-between;
    margin-top: -15rem;
    @include mq1500 {
      justify-content: flex-start;
      margin-top: unset;
      .left2,
      .left3,
      .right2,
      .right3 {
        left: 0% !important;
        right: 0% !important;
      }
    }
    &__sideL,
    &__sideR {
      position: absolute;
      justify-content: space-around;
      height: 80%;
      min-height: 800px;
      top: 0px;
      bottom: 0px;
    }

    &-sideL {
      left: 0;

      @include mq767 {
        flex: 1;
        margin: 0;
        align-items: center;
      }
      .left2 {
        left: 5vw;
      }
      .left3 {
        left: 10vw;
      }
    }
    &-sideR {
      right: 0;
      @include mq767 {
        flex: 1;
        margin: 0;
        align-items: center;
      }
      .right2 {
        right: 5vw;
      }
      .right3 {
        right: 10vw;
      }
    }
  }

  &__title {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    @include mq1500 {
      width: unset;
    }
  }
  img {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
    @include mq1500 {
      margin: unset;
      left: unset;
    }
    @include mq767 {
      display: none;
    }
  }
}

.payments {
  position: relative;
  &__top {
    height: 30vw;
  }
  &__bottom {
    padding: 5% 5% 5% 5%;
    @include mq767 {
      padding: 10% 5% 5% 5%;
    }
    &-title {
      text-align: center;
      padding-top: 5%;
    }
    &-body {
      background: url(res/img/formal/Group429.png) no-repeat center;
      background-size: 100%;
      width: 100%;
      justify-content: space-around;
      &_box {
        width: 20%;
        text-align: center;
        &:nth-child(odd) {
          padding-top: 5%;
          @include mq767 {
            margin-top: 90px;
            align-items: flex-start;
          }
        }
        &:nth-child(even) {
          padding-bottom: 5%;
          @include mq767 {
            margin-bottom: 50px;
            align-items: flex-end;
            h3 {
              margin-bottom: 45px;
            }
          }
        }
      }
    }
  }
  &__video {
    position: absolute;
    margin: 0 15%;
    top: 5vw;
    left: 0;
    right: 0;
    display: flex;

    video {
      height: 80%;
      width: 80%;
      margin: 0 auto;
      @include mq767 {
        width: 90%;
      }
    }
  }
}
///////////////////////////
//NONFORMAL page
//////////////////////////
.mars {
  &__title {
    * {
      padding-bottom: 1%;
    }
    h4,
    h2 {
      text-align: center;
    }
  }
  &__bot {
    position: absolute;
    bottom: -10%;
    left: 30%;
    @include mq1500 {
      bottom: -5%;
    }
    @include mq1024 {
      display: none;
    }
    img {
      width: 80%;
    }
  }
  &__body {
    position: relative;
    @include mq1024 {
      flex-direction: column !important;
    }
    &-slider {
      flex: 5;
      min-width: 50vw;
      &_container {
        justify-content: space-between;
        &-item {
          img {
            width: 100%;
          }
        }
      }

      .paginator {
        display: flex;
        height: 100px;
        list-style: none;
        justify-content: center;
        align-items: center;
        * {
          padding: 0 5px;
        }
      }
    }
    &-themes {
      flex: 3;
      @include mq1024 {
        align-items: flex-start;
      }
      &_title {
        padding: 0 0 10% 0;
        @include mq1024 {
          padding: 2% 0 10px 0;
        }
      }
      &_list {
        li {
          display: flex;
          align-items: flex-start;
          list-style-type: none;
          padding-bottom: 2%;
          @include mq1024 {
            padding: 1% 0;
          }
          img {
            padding: 0 5px;
            @include mq767 {
              width: 25px;
              height: 14px;
            }
          }
        }

        p {
          padding: 7% 0;
          @include mq1024 {
            padding: 10px 0;
          }
        }
      }
    }
  }
}

.game-design {
  position: relative;
  .mars__body {
    padding-top: 5%;
  }
  .mars__spacer {
    @include mq1024 {
      width: 100%;
      padding-top: 5%;
    }
  }
  .mars__title2 {
    @include mq1024 {
      max-width: 60%;
    }
    @include mq480 {
      max-width: unset;
    }
  }
  .mars__body-themes_title {
    * {
      padding-bottom: 1%;
      @include mq480 {
        text-align: center !important;
      }
    }
    h4 {
      text-align: start;
    }
  }
  &__background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 40%;
    z-index: -1;
    @include mq767 {
      right: 0;
    }
  }
}

.codeAcademy {
  &__footer {
    white-space: nowrap;
    * {
      padding-right: 1rem;
    }
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 5%;
  }
  &__video {
    position: relative;
    flex: 1.5;
    padding: 5% 0;
    @include mq1024 {
      padding: 115px 0 0 0;
    }

    video {
      width: 100%;
      margin: 0 auto;
    }
    h4 {
      position: relative;
      vertical-align: middle;
      text-align: center;
      margin: auto;
      padding: 2%;
      z-index: 999;
    }
  }
  &__card {
    flex: 1;
    z-index: 99;
    @include mq767 {
      display: none !important;
    }
    @include mq1024 {
      margin-bottom: -10%;
    }
    &-collapsible {
      width: 80%;
      max-width: 600px;
      margin-bottom: 10%;
      .collapsible {
        justify-content: space-between;
        h4 {
          font-size: 1.6rem;
          font-weight: 500;
          margin: 0 auto;
        }
      }
      button {
        align-items: center;
        width: 100%;
        margin-bottom: 5px;
      }
      &_content {
        display: none;
        position: relative;
        h4 {
          position: relative;
          width: 100%;
          padding: 10%;
          margin: auto;
          top: 30%;
          text-align: center;
        }
      }
    }
  }
}

.skillSet {
  position: relative;
  &__top {
    height: 30vw;
  }
  &__bottom {
    padding: 5% 5% 0 5%;
    &-title {
      text-align: center;
    }
    &-body {
      background: url(res/img/nonformal/skillBG.png) no-repeat center;
      background-size: 100%;
      width: 100%;
      justify-content: space-around;
      @include mq480 {
        width: 90%;
        margin: 0 auto;
      }
      &_box {
        width: 200px;
        text-align: center;
        h4 {
          position: absolute;
        }

        &:nth-child(1) {
          @include mq767 {
            margin-bottom: 30%;
            margin-left: 10%;
          }
        }
        &:nth-child(2) {
          margin-top: 15%;
          @include mq767 {
            margin-top: 35%;
          }
        }
        &:nth-child(3) {
          @include mq767 {
            margin-top: 5%;
            margin-right: 20%;
          }
        }
        &:nth-child(4) {
          margin-bottom: 15%;
          @include mq767 {
          }
        }
        &:nth-child(5) {
          margin-right: 5%;
          @include mq767 {
            margin-bottom: 40%;
          }
        }
        &:nth-child(6) {
          margin-top: 15%;
          @include mq767 {
            margin-top: 25%;
            margin-right: 10%;
          }
        }
        &:nth-child(7) {
          @include mq767 {
            margin-bottom: 15%;
            margin-right: 10%;
          }
        }
      }
    }
  }
}

.marsPackage {
  &__title {
    width: 70vw;
  }
  &__body {
    width: 100%;
    justify-content: space-around;
    @include mq1024 {
      flex-direction: column !important;
      align-items: center;
    }
    @include mq767 {
      flex-wrap: wrap;
      flex-direction: unset !important;
    }
    &-box {
      position: relative;
      width: 30%;
      max-width: 500px;
      height: 200px;
      @include mq1024 {
        margin-bottom: 2%;
        height: unset;
        width: 40%;
        min-width: 240px;
        &:first-child {
          margin-right: 50%;
        }
        &:last-child {
          margin-left: 50%;
        }
      }
      @include mq767 {
        &:first-child {
          margin-right: unset;
        }
        &:last-child {
          margin-left: unset;
        }
      }
      img {
        position: absolute;
        width: 10vw;
        @include mq1024 {
          position: unset;
          width: 40%;
          padding: 1rem;
        }
      }
      h4 {
        text-align: center;
        padding: 1rem;
      }
      .imgIdea {
        margin-right: 100%;
        @include mq1024 {
          margin-right: unset;
        }
      }
      .imgBoard {
        margin-right: 80%;
        margin-top: 170px;
        @include mq1024 {
          margin-right: unset;
          margin-top: unset;
        }
      }
      .imgCertificate {
        margin-left: 90%;
        margin-top: 170px;
        @include mq1024 {
          margin-left: unset;
          margin-top: unset;
        }
      }
    }
  }
}

//BACKGROUND ELEMENTS
.bg123,
.bg5,
.bgAB,
.bgC {
  position: absolute;
  width: 50%;
}
.bg5 {
  right: 20%;
  bottom: 20%;
}
.bgAB {
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.bgC {
  top: 20%;
  right: 0;
}
//BACKGROUND ELEMENTS

.projectsLeft {
  position: relative;
  @include mq1024 {
    margin: 5% 0 10% 0 !important;
  }
  @include mq480 {
    padding: 0 !important;
    margin: 5% 0 10% 0 !important;
  }
  h2 {
    margin-bottom: 5%;
    @include mq480 {
      justify-content: flex-start;
      margin-left: 5%;
    }
  }
  h3 {
    @include mq480 {
      font-size: 1.75rem;
      font-weight: 500;
    }
  }
  .right {
    right: 57%;
  }
  &__main {
    &-title {
      align-items: center;
      width: 40%;
      margin-left: 2%;
      padding-bottom: 2%;
      @include mq1024 {
        width: 60%;
      }
      @include mq480 {
        justify-content: center;
        width: 100%;
        padding: 0 5% 2% 5%;
        text-align: center;
      }
      .skewb {
        width: 75%;
        padding-bottom: 10px;
        @include mq1024 {
          padding-bottom: 7px;
        }
        @include mq480 {
          width: 100%;
          padding-bottom: unset;
        }
      }
      &_img {
        justify-content: flex-start;
        align-items: center;
        max-width: 150px;
        text-align: center;
        padding: 0 15% 0 0;
        @include mq480 {
          justify-content: space-between;
        }
        img {
          width: 100%;
          @include mq480 {
            width: 90%;
          }
        }
      }
      &_imgWrapper {
        @include mq480 {
          position: absolute;
          bottom: -85px;
        }
      }
    }
    &-body {
      position: relative;
      width: 50%;
      @include mq1024 {
        width: 70%;
      }
      @include mq480 {
        width: 100%;
        height: 190vw;
      }
      .splide {
        @include mq480 {
          margin-top: 78%;
        }
      }
      .splide03 {
        @include mq480 {
          margin-top: 70%;
        }
      }
      img {
        width: 100%;
      }
    }
  }
  &__aside {
    position: absolute;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    height: 83%;
    right: 30%;
    bottom: 0;
    @include mq1024 {
      right: 6%;
    }
    @include mq767 {
      right: 5%;
    }
    @include mq480 {
      top: 100px;
      right: 0;
      left: 0;
      margin: 0 auto;
      height: unset !important;
    }
    &-card {
      align-items: center;
      width: 20vw;
      min-height: 23%;
      &:nth-child(2) {
        @include mq480 {
          position: relative;
          bottom: 8%;
        }
      }
      &:nth-child(3) {
        @include mq480 {
          position: relative;
          top: 8%;
        }
      }
      @include mq1024 {
        width: 25vw;
      }
      @include mq767 {
        width: 30vw;
      }
      @include mq480 {
        min-height: 25vw;
        width: 80vw;
      }
    }
  }
}

.projectsRight {
  position: relative;
  @include mq1024 {
    margin: 5% 0 10% 0 !important;
  }
  @include mq480 {
    padding: 0 !important;
    width: 100% !important;
    margin: 120px 0 10% 0 !important;
  }
  .paginator__wrapper {
    width: 50%;
    padding-left: 7%;
    text-align: start;
  }
  @include mq1024 {
    width: 75%;
  }
  h2 {
    margin-bottom: 5%;
  }
  .right {
    width: 100%;
  }
  &__main {
    &-title {
      justify-content: flex-end;
      width: 100%;
      padding-bottom: 2%;
      @include mq1024 {
        width: 100%;
        margin-left: 42%;
      }
      @include mq480 {
        padding: 0 5% 2% 5%;
        text-align: center;
        margin-left: unset;
      }
      &_wrapper {
        justify-content: space-between;
        align-items: center;
        width: 40%;
        margin-right: 2%;
        @include mq1024 {
          width: 80%;
          margin-right: 10%;
        }
        @include mq767 {
          margin-right: unset;
        }
        @include mq480 {
          width: 100%;
          margin-right: unset;
          justify-content: center;
        }
        h3 {
          @include mq480 {
            font-size: 1.75rem;
            font-weight: 500;
          }
        }
      }
      .skewb {
        width: 75%;
        padding-bottom: 10px;
      }
      &_img {
        justify-content: flex-start;
        align-items: center;
        max-width: 150px;
        text-align: center;
        padding: 0 15% 0 0;
        h3 {
          width: 70%;
        }
        img {
          width: 100%;
        }
      }
      &_imgWrapper {
        @include mq480 {
          position: absolute;
          bottom: -85px;
        }
      }
    }
    &-body {
      position: relative;
      justify-content: flex-end;
      width: 50% !important;
      margin-left: 50%;
      @include mq1024 {
        width: 100% !important;
        margin-left: 43%;
      }
      @include mq480 {
        height: 190vw;
        margin-left: unset;
      }
      &_wrapper {
        width: 100%;
      }

      img {
        width: 100%;
      }
      .splide02 {
        @include mq480 {
          margin-top: 72%;
        }
      }
    }
  }
  &__aside {
    position: absolute;
    justify-content: space-between;
    align-items: center;
    left: 30%;
    width: 30%;
    height: 100%;
    bottom: 0;
    @include mq1024 {
      left: 18%;
    }
    @include mq480 {
      top: 55px;
      right: 0;
      left: 0;
      margin: 0 auto;
      height: unset;
    }
    &-card {
      align-items: center;
      width: 20vw;
      min-height: 23%;
      @include mq1024 {
        width: 25vw;
      }
      @include mq767 {
        width: 30vw;
      }
      &:nth-child(2) {
        @include mq480 {
          position: relative;
          bottom: 8%;
        }
      }
      &:nth-child(3) {
        @include mq480 {
          position: relative;
          top: 8%;
        }
      }
      @include mq480 {
        min-height: 30vw;
        width: 80vw;
      }
    }
  }
}

//Lithuanian projects layouts +1card
.projectsExtraR {
  @include mq480 {
    padding: 0 !important;
    width: 100% !important;
  }
  .paginator__wrapper {
    width: 50%;
    padding-left: 7%;
    text-align: start;
  }
  h2 {
    margin: unset;
    @include mq480 {
      justify-content: flex-start;
      margin-left: 5%;
    }
  }
  .right {
    width: 100%;
  }
  &__main {
    position: relative;
    &-body {
      position: relative;
      margin-left: 50%;
      padding-bottom: 50px;
    }
    &-title {
      justify-content: flex-end;
      width: 100%;
      padding-bottom: 2%;
      @include mq480 {
        padding: 0 5% 2% 5%;
        text-align: center;
      }
      &_wrapper {
        justify-content: space-between;
        align-items: center;
        width: 45%;
        margin-right: 2%;
        @include mq1024 {
          width: 55%;
        }
        @include mq767 {
          margin-right: unset;
        }
        @include mq480 {
          width: 100%;
          justify-content: center;
        }
        h3 {
          @include mq480 {
            font-size: 1.75rem;
            font-weight: 500;
          }
        }
      }
      .skewb {
        width: 75%;
        padding-bottom: 10px;
      }
      &_img {
        justify-content: flex-start;
        align-items: center;
        max-width: 150px;
        text-align: center;
        padding: 0 15% 0 0;
        h3 {
          width: 70%;
        }
        img {
          width: 100%;
        }
      }
    }
    &-body {
      width: 50% !important;
      margin-left: 50%;
      @include mq1024 {
        width: 70% !important;
        margin-left: 38%;
      }
      @include mq480 {
        height: 225vw;
        width: 100% !important;
        margin-left: unset;
      }
      &_wrapper {
        width: 100%;
      }
      img {
        width: 100%;
      }
      .splide04 {
        @include mq480 {
          margin-top: 75%;
        }
      }
      .splide06 {
        @include mq480 {
          margin-top: 68%;
        }
      }
    }
  }
  &__aside {
    position: absolute;
    justify-content: space-between;
    align-items: center;
    left: 25%;
    width: 30%;
    height: 90%;
    bottom: 4.2%;
    @include mq1024 {
      left: 13%;
    }
    @include mq480 {
      top: 55px;
      right: 0;
      left: 0;
      margin: 0 auto;
      height: unset;
    }
    &-card {
      align-items: center;
      width: 20vw;
      min-height: 17%;
      @include mq1024 {
        width: 25vw;
      }
      @include mq767 {
        width: 30vw;
      }
      &:nth-child(2) {
        @include mq480 {
          position: relative;
          bottom: 6%;
        }
      }
      &:nth-child(3) {
        @include mq480 {
          position: relative;
          top: 11%;
        }
      }
      &:nth-child(4) {
        @include mq480 {
          position: relative;
          top: 5.5%;
        }
      }
      @include mq480 {
        min-height: unset;
        width: 80vw;
      }
      &_text-wrapper {
        align-items: center;
        img {
          width: 11%;
          margin-left: 5%;
        }
      }
    }
  }
  &__sponsorship {
    justify-content: space-between;
    margin: 2% 0 0 50%;
    @include mq1500 {
      flex-direction: column !important;
      justify-content: center;
    }
    @include mq1024 {
      margin: 2% 5% 0 40%;
    }
    @include mq767 {
      margin: 2% 5% 0 45%;
    }
    @include mq480 {
      flex-direction: column-reverse !important;
      margin: unset;
    }
    img {
      max-height: 70px;
      @include mq480 {
        max-height: 57px;
        max-width: 80px;
        margin: auto;
      }
    }
    &-container {
      justify-content: space-between;
      text-align: center;
      @include mq1500 {
        justify-content: flex-start;
      }
      @include mq480 {
        position: absolute;
        justify-content: center;
        bottom: -50px;
        left: 0;
        right: 0;
        width: 80%;
        margin: 0 auto;
      }
      &_brand {
        justify-content: space-between;
        align-items: center;
        margin-left: 5%;
        @include mq480 {
          margin-left: unset;
          padding: 0 2%;
        }
      }
    }
    &-info {
      justify-content: center;
      align-items: center;
      padding: 0 5vw;
      @include mq1500 {
        justify-content: flex-start;
        margin-top: 10px;
      }
      @include mq480 {
        justify-content: flex-end;
        margin-right: 10%;
      }
    }
  }
}
//spacers
.spacer {
  margin-top: 160px;
}
.spacer2 {
  margin-top: 90px;
}
.spacer3 {
  margin-top: 115px;
}

.projectsExtraL {
  @include mq480 {
    padding: 0 !important;
    width: 100% !important;
    margin: 5% 0 15% 0 !important;
    @include mq480 {
    }
    margin: 100px 0 15% 0 !important;
  }
  h2 {
    margin-bottom: 5%;
  }
  .right {
    right: 57%;
  }
  &__main {
    position: relative;
    &-title {
      align-items: center;
      width: 40%;
      margin-left: 2%;
      padding-bottom: 2%;
      @include mq480 {
        justify-content: center;
        width: 100%;
        margin-left: unset;
      }
      .skewb {
        width: 75%;
        padding-bottom: 10px;
      }
      &_img {
        justify-content: flex-start;
        align-items: center;
        max-width: 150px;
        text-align: center;
        padding: 0 15% 0 0;
        img {
          width: 100%;
          @include mq1024 {
            width: 70%;
          }
        }
      }
      h3 {
        @include mq480 {
          font-size: 1.75rem;
          font-weight: 500;
        }
      }
    }
    &-body {
      position: relative;
      width: 50%;
      padding-bottom: 50px;
      @include mq1024 {
        width: 70%;
      }
      @include mq480 {
        height: 200vw;
        width: 100% !important;
        margin-left: unset;
      }
      img {
        width: 100%;
      }
      .splide05 {
        @include mq480 {
          margin-top: 63%;
        }
      }
    }
  }
  &__aside {
    position: absolute;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    height: 83%;
    right: 30%;
    bottom: 0;
    @include mq1024 {
      right: 5%;
    }
    @include mq767 {
      right: 2%;
    }
    @include mq480 {
      top: 5%;
      right: 0;
      left: 0;
      margin: 0 auto;
      height: unset;
    }
    &-card {
      align-items: center;
      width: 20vw;
      min-height: 17%;
      @include mq1024 {
        width: 25vw;
      }
      @include mq767 {
        width: 30vw;
      }
      &:nth-child(2) {
        @include mq480 {
          position: relative;
          bottom: 5%;
        }
      }
      &:nth-child(3) {
        @include mq480 {
          position: relative;
          top: 10%;
        }
      }
      &:nth-child(4) {
        @include mq480 {
          position: relative;
          top: 5%;
        }
      }
      @include mq480 {
        min-height: unset;
        width: 80vw;
      }
      &_text-wrapper {
        align-items: center;
        img {
          width: 10%;
          margin-left: 5%;
        }
      }
    }
  }
  &__sponsorship {
    justify-content: space-between;
    margin: 2% 57% 0 0;
    flex-direction: row-reverse !important;
    @include mq1500 {
      flex-direction: column !important;
      justify-content: center;
    }
    @include mq1024 {
      margin: 2% 33% 0 0;
    }
    @include mq767 {
      margin: 2% 35% 0 0;
    }
    @include mq480 {
      flex-direction: column-reverse !important;
      position: absolute;
      bottom: -135px;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
    img {
      width: 100%;
      @include mq1024 {
        width: 70%;
      }
    }
    &-container {
      justify-content: space-between;
      text-align: center;
      @include mq1500 {
        justify-content: flex-end;
      }
      @include mq480 {
        justify-content: center;
        margin-top: 15px;
        margin-right: 10%;
      }
      &_brand {
        justify-content: space-between;
        align-items: center;
        margin-left: 5%;
        @include mq480 {
          margin-left: unset;
        }
      }
    }
    &-info {
      justify-content: center;
      align-items: center;
      padding: 0 5vw;
      @include mq1500 {
        justify-content: flex-end;
        margin-top: 10px;
      }
      @include mq480 {
        margin-right: 10%;
      }
    }
  }
}

.news {
  position: relative;
  &__background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40vh;
    min-height: 400px;
    z-index: -1;
  }

  &__title {
    @include mq1500 {
      align-items: center !important;
    }
    * {
      padding-bottom: 1%;
    }
    &-container {
      margin-right: 10%;
      @include mq1500 {
        margin: 5% 0 0 0;
      }
    }
  }

  &__body {
    flex-wrap: nowrap;
    justify-content: space-between;
    @include mq1500 {
      justify-content: space-around;
      flex-wrap: wrap;
    }
    &-card {
      position: relative;
      margin: 2rem;
      min-height: 20vw;
      width: 20%;
      &_image {
        flex: 5;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &_text {
        flex: 1;
        padding: 1rem;
      }
      &_tag {
        position: absolute;
        right: 0;
        top: 10%;
        min-height: 2vw;
        width: 40%;
      }
    }
  }
}
.intersection {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 15%;
  margin-top: -7%;
  @include mq1500 {
    position: unset;
    margin-left: unset;
    margin: 10px 0;
  }
  &__selections {
    padding: 3rem;
    @include mq1500 {
      padding: 1rem;
    }
    ul {
      @include mq1500 {
        display: flex;
      }
    }
    button {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 1.5rem 0;
      background: transparent;
      img {
        padding-right: 5px;
      }
      @include mq1500 {
        margin-left: 1.5rem;
      }
    }
  }
}
