// style from new web to avoid additional work

$tablet: 768px;
$color-blue: #273f52;

p {
  overflow-wrap: anywhere;
}

ul {
  margin: unset;
  padding: unset;
  list-style-type: none;
}

ul.have-mark {
  list-style-type: disc;
}

ol,
ul.have-mark {
  @media(max-width: calc($tablet - 1px)) {
    font-size: 60px;
  }

  li {
    margin-left: 20px;
  }
}

@mixin list {
  >li {
    padding-top: 20px;

    h2 {
      padding: 20px 0;

      font-size: 18px;
      font-weight: 600;
      line-height: 27px;

      @media(min-width: $tablet) {
        font-size: 22px;
        line-height: 28px;
      }
    }

    ul {
      li {

        ul,
        ol {
          padding: 5px 0;

          @media(min-width: $tablet) {
            padding-left: 30px;
          }
        }

        &:nth-last-child(1) ul,
        &:nth-last-child(1) ol {
          padding-bottom: 0;
        }
      }

      * {
        color: $color-blue;
        font-size: 14px;
        line-height: 25px;

        @media(min-width: $tablet) {
          font-size: 16px;
          line-height: 28px;
        }
      }
    }
  }
}