<section class="noticeOverlay">
  <div class="noticeOverlay__imgContainer">
    <button id="cookieSettings" class="noticeOverlay__imgContainer-cookieBtn">
      <img class="noticeOverlay__imgContainer-cookieImg" src="./res/img/reusable/cookie.png" alt="cookieSettings">
    </button>
  </div>
  <div class="noticeOverlay__boxContainer">
    <div class="noticeOverlay__boxContainer-wrapper flex-column center">
      <div class="noticeOverlay__boxContainer-wrapper_header">
        <h5 class="element" data="notice.title"><b>Here's your cookies settings</b></h5>
      </div>
      <div class="noticeOverlay__boxContainer-wrapper_body">
        <h6 class="element" data="notice.info">
          In order to subscribe to our newsletter, you need to customize
          your cookies settings first.<br></h6>
        <h6 class="element" data="notice.desc">
          Press <b>Blinking Cookie</b>, then <b>"Customize"</b> and Enable <b>"Functional"</b> cookie or you can
          <b>"Accept
            All"</b> settings.
        </h6>
      </div>
    </div>
  </div>
</section>