@use "../abstracts" as *;
.mars {
  &__body {
    .splide02 {
      position: relative;
    }
    .splide,
    .splide02 {
      @include splide__arrow;
      button.splide__arrow--prev {
        right: 50px;
        top: 110% !important;
        left: unset;
      }
      button.splide__arrow--next {
        right: 0%;
        top: 110% !important;
      }
    }
  }
}

.game-design {
  &__background {
    background-color: $bgDarkSection;
    // background-size: 50% 100%;
  }
}

.codeAcademy {
  &__video {
    background-color: $bgDarkSection;
    a {
      color: $aColor;
      font-weight: 500;
    }
  }
  &__card-collapsible {
    button {
      background-color: $bgSection;
      box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
        0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    }
    &_content {
      background-color: $bgSection;
      box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
        0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    }
  }
}

.marsPackage {
  background: url(../../assets/nonformal/rocket.png) no-repeat center center;
  background-size: cover;
  &__title {
    text-align: center;
  }
  &__body {
    &-box {
      background-color: $bgSection;
    }
  }
}
