@use "../abstracts" as *;

.privacy-policy-container {
  margin-top: 95px;
  padding: 20px 35px 40px;

  @media(min-width: $tablet) {
    padding: 20px 165px 40px;
  }

  h1 {
    @media(min-width: $tablet) {
      max-width: 750px;
      margin: auto;

      text-align: center;
    }
  }

  >p {
    padding-top: 40px;

    .date {
      text-wrap: nowrap;
    }
  }

  >p,
  >p .date {
    color: $color-blue;
    font-size: 14px;
    line-height: 25px;

    @media(min-width: $tablet) {
      font-size: 16px;
      line-height: 28px;
    }
  }

  .privacy-policy-list {
    @include list;

    .bold {
      padding: 5px 0;
      font-weight: 600;
    }

    .table {
      display: grid;
      grid-template-columns: 1fr;

      @media(min-width: $tablet) {
        grid-template-columns: 1fr 2fr;
      }

      h3 {
        padding-top: 20px;

        color: $color-blue;
        font-size: 16px;
        font-weight: 600;

        @media(min-width: $tablet) {
          padding: 20px 100px 20px 0;
          font-size: 18px;
        }
      }

      p {
        padding: 20px 0;
      }

      h3 {
        border-top: solid 1px $color-blue;

        &:nth-of-type(1) {
          border: unset;
        }
      }

      @media(min-width: $tablet) {
        p {
          border-top: solid 1px $color-blue;

          &:nth-of-type(1) {
            border: unset;
          }
        }
      }
    }
  }
}