@use "../abstracts" as *;

.contact-form {
  display: flex;
  h4 {
    padding-bottom: 5%;
  }
  h2 {
    padding-bottom: 10px;
  }
  form {
    width: 65vw;
    min-height: 400px;
    min-width: 920px;
    .text {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-left: 10px;
      * {
        padding: 0 10px;
      }
    }

    .privacy {
      align-items: center;
      margin: 10px;
      input {
        transform: scale(1.7);
      }
    }

    .submit {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      button {
        width: 100px;
        height: 50px;
        margin: 5px;
      }
    }

    .top {
      * {
        margin: 5px;
      }
      flex: 1;
    }

    .bottom {
      * {
        margin: 5px;
      }
      flex: 3;
    }
  }
}
//DESIGN
.contact-form {
  background-color: $bgSection;
  form {
    .submit {
      button {
        background-color: transparent;
        border: 2px solid $fontColor;
        color: $fontColor;
      }
    }
  }
}
