@use "../abstracts" as *;
.footer {
  // height: 30vh;
  // min-height: 300px;
  justify-content: space-around;
  @include mq1024 {
    height: unset;
  }
  @include mq480 {
    padding: 1rem 10% 0 10%;
  }
  h5 {
    margin-bottom: 10px;
  }
  .copyright {
    // height: 50px;
    @include mq480 {
      justify-content: unset;
    }
  }
  .container {
    height: calc(30vh - 80px);
    max-height: 300px;
    @include mq1024 {
      flex-direction: row;
      height: unset;
      max-height: unset;
      // /w information  flex-direction: column;
    }
    @include mq480 {
      flex-direction: column-reverse;
    }
    &__right,
    &__left {
      justify-content: space-around;
      @include mq480 {
        justify-content: flex-start;
      }
      h3 {
        padding-bottom: 30px;
      }
    }
    //TODO mq ipad left right p 5% 0
    &__left {
      @include mq767 {
        flex: 1;
      }
      @include mq1024 {
        padding: 2% 5% 0 0;
      }
      @include mq480 {
        flex-direction: column;
      }
      &-contact,
      &-info {
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        @include mq1024 {
          grid-template-rows: repeat(5, 0.5fr);
        }
        @include mq480 {
          padding: 0 0 4% 0;
        }
        h3 {
          grid-row: 2/3;
          @include mq1024 {
            grid-row: 1/2;
            padding-bottom: unset;
          }
          @include mq480 {
            padding-bottom: 4%;
          }
        }
        .sub1 {
          grid-row: 3/4;
          @include mq1024 {
            grid-row: 3/4;
          }
          @include mq480 {
            grid-row: 2/3;
          }
        }
        .sub2 {
          grid-row: 4/5;
          @include mq1024 {
            grid-row: 4/5;
          }
          @include mq480 {
            grid-row: 3/4;
          }
        }
        .sub3 {
          grid-row: 5/7;
          @include mq1024 {
            grid-row: 5/7;
          }
          @include mq480 {
            grid-row: 4/6;
          }
        }
      }
    }

    &__right {
      display: flex;
      @include mq1024 {
        padding: 2% 0 0 0;
        // /w information padding: 5% 0 2% 0;
      }
      @include mq767 {
        flex: 1;
      }
      @include mq480 {
        padding: 2% 0 4% 0;
      }
      &-subsrc {
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        width: 70%;
        @include mq1024 {
          grid-template-rows: repeat(5, 0.5fr);
          width: unset;
        }
        @include mq480 {
          // w/ information
          // grid-template-rows: repeat(4, 0.5fr);
          grid-template-rows: repeat(3, 0.5fr);
          width: 80%;
          text-align: start;
        }
      }

      h3 {
        grid-row: 2/3;
        @include mq1024 {
          grid-row: 1/2;
          padding-bottom: unset;
        }
        @include mq480 {
          padding-bottom: 4%;
        }
      }
      .sub1 {
        grid-row: 3/4;
        white-space: nowrap;
        @include mq1024 {
          grid-row: 3/4;
        }
        @include mq480 {
          grid-row: 2/3;
        }
      }

      .text {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 10px;
        * {
          padding: 0 10px;
        }
      }

      &-input {
        grid-row: 4/5;
        display: flex;
        @include mq1024 {
          grid-row: 4/5;
        }
        @include mq480 {
          grid-row: 3/4;
        }
        input {
          width: 70%;
          margin: unset;
          color: black !important;
          font-size: 1rem;
        }
        button {
          height: 100%;
          width: 100%;
          padding: 0 1rem;
          @include mq480 {
            width: unset;
          }
          h5 {
            margin: 5px !important;
          }
        }
      }

      &-privacy {
        grid-row: 5/6;
        align-items: center;
        margin: 5px 0 0 3px;
        @include mq1024 {
          grid-row: 5/7;
        }
        @include mq480 {
          grid-row: 4/5;
        }
        input {
          transform: scale(1.7);
          @include mq1024 {
            transform: scale(1);
          }
        }
        h5 {
          margin-bottom: unset;
        }
      }
    }
  }
}
//DESIGN

.footer {
  * {
    color: white;
    font-weight: 300;
  }
  button {
    background-color: $bgBtn;
  }
}
