@use "../abstracts" as *;

header {
  .nav-menu {
    display: none;
  }

  @media(max-width: 1024px) {
    .nav-menu {
      display: block;
    }

    .dropdown {
      display: none;
    }

    .en,
    .lt {
      height: 2.2rem !important;
    }
  }

  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  top: 0;
  // height: 10vh;
  z-index: 99999;

  .dropdown {
    position: relative;

    button {
      background-color: unset;
      border: none;
      outline: none;

      font-size: 1rem;
      line-height: 1.6em;
    }

    .dropdown-arrow {
      margin: 2px;
    }

    .dropdown-invisible-space {
      display: none;
      position: absolute;

      bottom: -50px;
      width: 150px;
      height: 50px;
    }

    .dropdown-content {
      display: none;

      position: absolute;
      margin-top: 30px;
      padding: 12px 22px;
      background-color: #fff;

      .element {
        color: $fontColor !important;
        line-height: 2rem;
      }

      .active {
        color: $bgBtn !important;
        font-weight: 500;
      }
    }

    &:hover {
      button {
        color: $btnOrange !important;

        filter: none;
        transition: none;
      }

      .dropdown-arrow {
        transform: rotate(180deg);
      }

      .dropdown-invisible-space {
        display: block;
      }

      .dropdown-content {
        display: block;
      }
    }
  }

  .active {

    // color: $aColor !important;

    // transform: scale(1.2);
    // * {
    //   color: $aColor !important;
    // }

    position: relative;

    &::after {
      position: absolute;
      bottom: -5px;
      left: 0;

      content: '';
      width: 100%;
      border-bottom: solid 2px #fff;
    }
  }

  .en,
  .lt {
    height: 1rem;
    align-self: center;

    padding-bottom: 18px !important;

    filter: none;
    transition: none;

    &:hover {
      * {
        color: $btnOrange !important;
      }
    }

    &::after {
      width: 80%;
      transform: translateX(10%);
    }
  }

  .logo {
    display: flex;
    object-fit: contain;
    z-index: 2;
    padding: 1rem;

    img {
      width: 100%;
    }
  }

  .hamburger {
    .line {
      visibility: visible;

      &:nth-child(1) {
        transition: all 0.2s ease 0.5s;
      }

      &:nth-child(2) {
        transition: all 0s ease 0.5s;
      }

      &:nth-child(3) {
        transition: all 0.2s ease 0.5s;
      }
    }
  }

  .right-side {
    display: flex;
    justify-content: flex-end;
    width: 80%;

    &__navigation {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: nowrap;
      white-space: nowrap;
      width: 100%;

      &.open {
        clip-path: circle(2500px at 90% -5%);
      }

      @include mq1024 {
        position: fixed;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: calc((100vh - 210px) / 4);
        bottom: 0;
        top: 0;
        right: 0;
        left: 0;
        height: 120vh;
        width: 100%;
        // margin: auto 0;
        background: $fontColor;
        clip-path: circle(100px at 100% -10%);
        transition: all 0.7s ease-out;

        * {
          margin: 2% 0;
        }

        h5,
        .right-side__language {
          opacity: 0;
          transition: all 0.2s ease 0.1s;
        }

        .fade:nth-child(2) {
          transition: all 0.2s ease 0.3s;
        }

        .fade:nth-child(3) {
          transition: all 0.2s ease 0.4s;
        }

        .fade:nth-child(4) {
          transition: all 0.2s ease 0.5s;
        }

        .fade:nth-child(5) {
          transition: all 0.2s ease 0.6s;
        }

        .fade:nth-child(6) {
          transition: all 0.2s ease 0.7s;
        }

        .fade:nth-child(7) {
          transition: all 0.2s ease 0.8s;
        }

        .fade:nth-child(8) {
          transition: all 0.2s ease 0.9s;
        }

        h5.fade,
        .right-side__language.fade {
          opacity: 1;
        }
      }
    }

    &__language {
      white-space: nowrap;

      button {
        background: transparent;
        padding: 0 0.5rem;
        z-index: 2;

        h5 {
          font-size: 1rem;

          @include mq1024 {
            font-size: 2rem;
          }
        }
      }
    }
  }
}

//hamburger transition classes
.line.invisible {
  visibility: hidden !important;
}

.line.topLine {
  transform: rotate(45deg);
  transform-origin: 14px 0;

  @include mq480 {
    transform-origin: 8px 0;
  }
}

.line.bottomLine {
  transform: rotate(-45deg);
  transform-origin: 0px 0px;
}

//DESIGN
header {
  a {
    color: white;
    font-size: 1rem;
    font-weight: 400;

    @include mq1024 {
      font-size: 2rem;
    }
  }
}

.hamburger {
  position: absolute;
  cursor: pointer;
  right: 10%;
  top: 50%;
  transform: translate(-15%, -50%);
  z-index: 2;
}

.line {
  @include mq1024 {
    height: 4px;
    width: 40px;
    background-color: white;
    margin: 5px;
  }

  @include mq480 {
    height: 3px;
    width: 25px;
    margin: 3px;
  }

  &.closed {
    display: none;
  }
}

//header styles
.darkHeader {
  background-color: $fontColor;

  * {
    color: white !important;
  }
}

.shadow {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(6px);
}

.blurHeader {
  * {
    color: $fontColor !important;
  }
}

.lightHeader {
  background-color: $bgSection;

  * {
    color: $fontColor !important;
  }
}