@use "../abstracts" as *;

header {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  top: 0;
  height: 15vh;
  z-index: 99999;

  .logo {
    display: flex;
    object-fit: contain;
    z-index: 2;
  }

  .right-side {
    display: flex;
    justify-content: flex-end;
    width: 80%;
    &__navigation {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: nowrap;
      white-space: nowrap;
      width: 100%;
      &.open {
        clip-path: circle(2500px at 90% -5%);
      }
      @include mq1500 {
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        bottom: 0;
        top: 0;
        right: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background: $fontColor;
        clip-path: circle(100px at 100% -10%);
        transition: all 1s ease-out;
        * {
          margin: 5% 0;
        }
        a {
          opacity: 0;
        }
        a:nth-child(1) {
          transition: all 0.2s ease 0.1s;
        }
        a:nth-child(2) {
          transition: all 0.2s ease 0.3s;
        }
        a:nth-child(3) {
          transition: all 0.2s ease 0.5s;
        }
        a:nth-child(4) {
          transition: all 0.2s ease 0.7s;
        }
        a:nth-child(5) {
          transition: all 0.2s ease 0.9s;
        }

        a.fade {
          opacity: 1;
        }
      }
    }
    &__language {
      white-space: nowrap;
      margin-left: 1rem;
      z-index: 2;
    }
  }
}

//DESIGN
header {
  a {
    color: white;
    font-size: 1.35rem;
    font-weight: 400;
  }
}
.hamburger {
  position: absolute;
  cursor: pointer;
  right: 17%;
  top: 50%;
  transform: translate(-15%, -50%);
  z-index: 2;
}
.line {
  @include mq1500 {
    height: 4px;
    width: 40px;
    background-color: white;
    margin: 5px;
  }
  &.closed {
    display: none;
  }
}

//header styles
.darkHeader {
  background-color: $fontColor;
  * {
    color: white !important;
  }
}

.shadow {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(6px);
}

.blurHeader {
  * {
    color: $fontColor !important;
  }
}

.lightHeader {
  background-color: $bgSection;
  * {
    color: $fontColor !important;
  }
}
