@use "../abstracts" as *;
.project-background {
  background: url(../../assets/projects/hero.png) no-repeat 100% 100%;
  background-size: 100%;
  @include mq1500 {
    background: url(../../assets/projects/hero.png) no-repeat 100% 70px;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.hero-main {
  padding-top: 15vh !important;
  @include mq1500 {
    height: unset;
  }
  &__cta {
    height: 85vh;
    display: flex;
    flex-direction: row;
    @include mq1500 {
      height: unset;
      padding: 0 0 5% 0;
    }
    @include mq1024 {
      flex-direction: column;
    }
    &-topLeft {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 0 5%;
      @include mq1024 {
        align-items: center;
      }
      h1,
      button {
        margin: 2% 0;
      }
      h3 {
        margin: 2% 20% 2% 0;
        @include mq1500 {
          margin: 2%;
        }
      }
    }
    &-topRight {
      flex: 1;
      display: flex;
      .book {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }
  }
}
//DESIGN
.hero-main {
  background-color: $bgHero;

  &__cta {
    * {
      color: white !important;
    }
    button {
      width: 200px;
      height: 50px;
      background-color: $btnOrange;
    }
    &-topLeft {
      color: red;
      @include mq1024 {
        text-align: center;
      }
      // h1 {
      //   font-size: 4vw;
      // }
      // h3 {
      //   font-size: 2vw;
      // }
      // h4 {
      //   font-size: 2vw;
      // }
    }
  }
}
