@use "../abstracts" as *;

@keyframes blinker {
  50% {
    opacity: 0.75;
    transform: scale(1.2);
  }

  100% {
    opacity: 0.5;
    transform: scale(1);
  }
}

.blink {
  animation: blinker 1s ease-in-out infinite;
  opacity: 0.5;
}

.noticeOverlay {
  position: fixed;
  top: 0;
  left: 0;
  // background: rgba(0, 0, 0, 0.6);
  pointer-events: none;
  z-index: 9999;
  width: 100%;
  height: 100%;

  &__imgContainer {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    width: 75px;
    height: 75px;
    z-index: 99999;
    pointer-events: all;

    @include mq767 {
      width: 60px;
      height: 60px;
    }

    @include mq480 {
      width: 50px;
      height: 50px;
      bottom: 1.25rem;
      right: 1.25rem;
    }

    &:hover {
      &::before {
        content: attr(value);
        position: absolute;
        background: #333333;
        color: #ffffff;
        left: calc(100% + 7px);
        bottom: 1.4rem;
        font-size: 1rem;
        font-family: $font;
        width: max-content;
        padding: 8px 22px;
        border-radius: 4px;
      }

      &::after {
        position: absolute;
        content: "";
        border: 6px solid transparent;
        left: calc(100% + 2px);
        bottom: 2rem;
        border-left-width: 0;
        border-right-color: #333;
      }
    }

    &-cookieBtn {
      background: transparent;
    }

    &-cookieImg {
      width: 100%;
      height: 100%;
    }
  }

  &__boxContainer {
    position: absolute;
    display: none;
    pointer-events: all;
    width: 500px;
    bottom: 5rem;
    right: 200px;
    z-index: 999;

    @include mq767 {
      width: 300px;
      right: 150px;
    }

    @include mq480 {
      width: 225px;
      right: 105px;
    }

    &::after {
      position: absolute;
      content: "";
      display: inline-block;
      color: white;
      bottom: 9px;
      right: -17px;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 19px solid;
      border-top-color: inherit;
      transform: rotate(-90deg);
    }

    &-wrapper {
      text-align: start;
      background: white;
      margin: 0 auto;
      padding: 2rem;

      &_header {
        padding-bottom: 1rem;
      }

      &_body {
        line-height: 1.5rem;

        h6:first-child {
          padding-bottom: 1rem;
        }
      }
    }
  }
}