@use "../abstracts" as *;
//TODO mq 800 h3 df flex-row img inline
.stats {
  padding: 2%;
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .box {
    display: grid;
    grid-template-rows: (1fr 1fr);
    width: 30%;
    margin: 0 3%;
    text-align: center;
    max-width: 250px;
    &__wrapper {
      img {
        transform: scale(0.75);
        @include mq767 {
          transform: scale(0.5);
        }
      }
    }
    h3 {
      align-self: center;
    }
  }
}
//DESIGN
.stats {
  background-color: $bgStats;
  .box {
    h3 {
      color: $statsColor;
    }
  }
}
