@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;700&display=swap");
.companies {
  height: 8vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: url(../../assets/main/Rectangle203.png) no-repeat center center;
  background-size: 70%;
}

.game-learning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5% !important;
}
.game-learning__title {
  flex: 1;
  max-width: 60%;
}
@media (max-width: 1500px) {
  .game-learning__title {
    max-width: unset;
  }
}
.game-learning__benefits {
  flex: 1;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.game-learning__benefits * {
  padding: 2%;
}
.game-learning__benefits p {
  max-width: 380px;
}
@media (max-width: 480px) {
  .game-learning__benefits img {
    transform: rotate(90deg);
  }
}
@media (max-width: 480px) {
  .game-learning__benefits {
    flex-direction: column !important;
  }
}
.game-learning__img {
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0%;
}
.game-learning__img img {
  height: 100%;
  width: 100%;
}

.research {
  display: flex;
  flex-direction: column;
  background: url(../../assets/main/Group432.png) no-repeat center center;
  background-size: cover;
}
.research__topWrapper {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.research__topWrapper button {
  margin: 5% 0;
}
.research__topWrapper .container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 5% 0;
}
@media (max-width: 1500px) {
  .research__topWrapper .container {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.research__topWrapper .container .box {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  flex: 1;
  width: 30%;
  max-width: 500px;
  margin: 1rem;
  padding: 1rem 0;
}
@media (max-width: 1500px) {
  .research__topWrapper .container .box {
    width: unset;
  }
}
.research__topWrapper .container .box * {
  align-self: center;
}
.research__topWrapper .container .box img {
  justify-self: center;
}
.research__topWrapper .container .box h4 {
  padding: 1rem;
}
.research__bottomWrapper {
  position: relative;
  bottom: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding-top: 10%;
  width: 58%;
}
@media (max-width: 1500px) {
  .research__bottomWrapper {
    width: unset;
  }
}

.teacherSupport {
  display: flex;
  margin: 0 5%;
  justify-content: space-around;
  min-height: 700px;
  padding: 5% 10% 10% 10%;
}
@media (max-width: 1024px) {
  .teacherSupport {
    flex-direction: column;
    align-items: center;
    padding: 5% 10% 15% 10%;
  }
}
@media (max-width: 480px) {
  .teacherSupport {
    min-height: 500px;
  }
}
.teacherSupport img {
  position: absolute;
}
@media (max-width: 1024px) {
  .teacherSupport img {
    width: 50%;
  }
}
.teacherSupport .left {
  top: 10%;
  right: 0;
  margin-right: 90%;
}
@media (max-width: 480px) {
  .teacherSupport .left {
    top: 80%;
  }
}
.teacherSupport .right {
  right: 10px;
  margin-top: -15px;
}
.teacherSupport .right2 {
  left: 0;
  top: 50%;
  margin-left: 80%;
}
.teacherSupport .text {
  position: relative;
  padding-right: 1rem;
}
.teacherSupport__wrapper1 {
  justify-content: flex-start;
  max-width: 30%;
}
@media (max-width: 1024px) {
  .teacherSupport__wrapper1 {
    margin-right: 25%;
    max-width: 60%;
  }
}
@media (max-width: 767px) {
  .teacherSupport__wrapper1 {
    margin-right: unset;
  }
}
.teacherSupport__wrapper2 {
  align-items: center;
  max-width: 30%;
}
@media (max-width: 1500px) {
  .teacherSupport__wrapper2 {
    margin-bottom: 150px;
  }
}
@media (max-width: 1024px) {
  .teacherSupport__wrapper2 {
    margin-left: 50%;
    max-width: 60%;
    margin-bottom: unset;
  }
}
@media (max-width: 767px) {
  .teacherSupport__wrapper2 {
    margin-left: unset;
  }
}
.teacherSupport__wrapper3 {
  align-items: flex-end;
  max-width: 30%;
}
@media (max-width: 1024px) {
  .teacherSupport__wrapper3 {
    margin-right: 50%;
    max-width: 60%;
  }
}
@media (max-width: 767px) {
  .teacherSupport__wrapper3 {
    margin-right: unset;
  }
}

.community {
  display: flex;
  position: relative;
  flex-direction: column;
}
.community__card {
  position: absolute;
  min-width: 35vh;
  max-width: 600px;
  left: 10%;
  top: 50%;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
@media (max-width: 767px) {
  .community__card {
    top: 50%;
    min-width: unset;
    max-width: 90%;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
.community__card .splide__pagination__page.is-active {
  background-color: yellow;
}
.community__card .splide__pagination__page {
  border-radius: 0 !important;
  width: 15px;
  height: 15px;
  border: 1px solid #fdd306;
  margin: 0.5rem;
  z-index: 2;
}
.community__card .paginator {
  display: flex;
  height: 100px;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.community .Qmark {
  position: absolute;
  top: -90px;
  left: 20px;
}
@media (max-width: 767px) {
  .community .Qmark {
    transform: scale(0.5);
    top: -70px;
    left: 10px;
  }
}
.community .slide {
  padding: 10% 10% 0 10%;
}
.community .slide__title {
  flex: 3;
  width: 90%;
}
.community .slide__body {
  flex: 1;
  width: 80%;
}
.community .slide__body .user {
  padding: 1rem;
}
.community .slide__body .user__name {
  padding-bottom: 0.25rem;
  font-weight: 600;
}
.community__topWrapper {
  background: url(../../assets/main/Group433.png) no-repeat center center;
  background-size: cover;
  padding: 10%;
}
@media (max-width: 1500px) {
  .community__topWrapper {
    background-size: auto;
  }
}
.community__topWrapper img {
  position: absolute;
}
.community__topWrapper-left {
  flex: 1;
  padding: 0 0 0 5%;
}
@media (max-width: 767px) {
  .community__topWrapper-left {
    display: none;
  }
}
.community__topWrapper-right {
  justify-content: center;
  flex: 1;
  padding: 0 5% 0 0;
  max-width: 50%;
}
@media (max-width: 1500px) {
  .community__topWrapper-right {
    flex: 2;
    max-width: unset;
  }
}
.community__bottomWrapper {
  padding: 10%;
  min-height: 400px;
}
.community__bottomWrapper-left {
  flex: 1;
}
.community__bottomWrapper-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1500px) {
  .community__bottomWrapper-right {
    display: none;
  }
}

.achievements {
  justify-content: space-between;
  background: url(../../assets/main/Component17.png) no-repeat center 150px;
  background-size: 100%;
}
@media (max-width: 1024px) {
  .achievements__container {
    flex-direction: column;
    align-items: center;
  }
}
.achievements .box {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  max-width: 30%;
  text-align: center;
}
@media (max-width: 1024px) {
  .achievements .box {
    max-width: unset;
    margin-bottom: 5%;
  }
}
.achievements h2 {
  text-align: center;
}

.services {
  justify-content: space-between;
}
.services__title {
  justify-content: center;
  align-items: flex-start;
  height: 100px;
}
@media (max-width: 480px) {
  .services__title {
    height: unset;
  }
}
.services__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
@media (max-width: 1024px) {
  .services__container {
    flex-direction: column;
    padding: unset !important;
  }
}
.services img {
  position: absolute;
}
.services__card {
  position: relative;
  height: 20vw;
  width: 20vw;
  min-width: 300px;
  min-height: 300px;
  margin: 0 auto;
  padding: 1rem;
}
@media (max-width: 480px) {
  .services__card {
    height: 70vw;
    width: 70vw;
    min-width: unset;
    min-height: unset;
  }
}
.services__card .frame {
  width: 25vw;
  height: 28vw;
  min-width: 360px;
  min-height: 360px;
}
@media (max-width: 480px) {
  .services__card .frame {
    height: 85vw;
    width: 85vw;
    min-width: unset;
    min-height: unset;
  }
}
.services__cardBig {
  height: 25vw;
  width: 25vw;
  min-width: 350px;
  min-height: 350px;
  margin: 0 auto;
}
@media (max-width: 480px) {
  .services__cardBig {
    height: 70vw;
    width: 70vw;
    min-width: unset;
    min-height: unset;
  }
}
.services__cardBig .frame {
  width: 30vw;
  height: 30vw;
  min-width: 450px;
  min-height: 450px;
}
@media (max-width: 480px) {
  .services__cardBig .frame {
    height: 85vw;
    width: 85vw;
    min-width: unset;
    min-height: unset;
  }
}
.services__cardLeft {
  flex: 1;
  margin-top: 10%;
}
@media (max-width: 1024px) {
  .services__cardLeft {
    margin: 0 50% 10% 0;
  }
}
@media (max-width: 767px) {
  .services__cardLeft {
    margin: 0 0 10% 0;
  }
}
.services__cardMiddle {
  flex: 1;
  margin-top: -20%;
}
@media (max-width: 1024px) {
  .services__cardMiddle {
    margin: 0 0 10% 0;
  }
}
@media (max-width: 767px) {
  .services__cardMiddle {
    margin: 0 0 10% 0;
  }
}
.services__cardRight {
  flex: 1;
  margin-top: 10%;
}
@media (max-width: 1024px) {
  .services__cardRight {
    margin: 0 0 10% 50%;
  }
}
@media (max-width: 767px) {
  .services__cardRight {
    margin: 0 0 10% 0;
  }
}

.package {
  justify-content: center;
  align-items: center;
}
.package__title {
  margin: 0 10vw 10% 10vw;
}
@media (max-width: 1500px) {
  .package__title {
    margin: 0 5vw 10% 5vw;
  }
}
.package__card {
  position: relative;
  min-width: 100%;
  height: 60%;
  align-items: center;
}
.package__card-big {
  position: absolute;
  width: 35vw;
  height: 25vw;
  padding: 0 5%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
@media (max-width: 767px) {
  .package__card-big {
    width: 45vw;
    height: 35vw;
  }
}
.package__card-big img {
  position: absolute;
  top: 80%;
  width: 12vw;
}
.package__card-container {
  justify-content: space-between;
  width: 100%;
  margin: 0 5%;
}
@media (max-width: 767px) {
  .package__card-container {
    flex-direction: column !important;
    align-items: center;
  }
}
.package__card-container_small {
  min-height: 20vw;
  width: 25vw;
  padding: 1rem 5%;
}
@media (max-width: 767px) {
  .package__card-container_small {
    width: 35vw;
    height: 25vw;
  }
  .package__card-container_small:first-child {
    margin-bottom: 45vw;
  }
}
.package__card-container_small img {
  position: absolute;
  width: 12vw;
}
.package__card-container_small .right {
  margin-left: 25vw;
  margin-top: 15vw;
}
@media (max-width: 767px) {
  .package__card-container_small .right {
    margin-left: 30vw;
    margin-top: 25vw;
  }
}
.package__card-container_small .left {
  margin-right: 30vw;
  margin-top: 15vw;
}
@media (max-width: 767px) {
  .package__card-container_small .left {
    margin-right: 35vw;
    margin-top: 25vw;
  }
}

.download {
  padding: 10% 0 12% 0;
}
.download__container {
  justify-content: center;
}
.download__container button {
  padding: 1rem 2rem;
  margin-left: 1rem;
}
.download__container button * {
  padding: 0 0.25rem;
}

.orderNow {
  position: absolute;
  right: 0;
  width: 30%;
  min-width: 300px;
  max-width: 600px;
  padding: 3% 2%;
  margin-top: -6%;
  margin-right: 10%;
  z-index: 99;
}
@media (max-width: 1500px) {
  .orderNow__card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.orderNow__card-btn {
  padding: 1rem 2rem;
}

.lessons {
  justify-content: space-around;
  position: relative;
}
.lessons__background {
  position: absolute;
  height: 70%;
  right: 0;
  left: 0;
  top: 0;
  z-index: -1;
}
.lessons__title {
  margin-left: 20%;
  display: flex;
  align-items: center;
  padding: 12rem 0 5% 0;
}
.lessons__slider {
  position: relative;
  width: 85vw;
  padding-bottom: 5%;
  margin: 0 auto;
}
.lessons__slider-card {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  min-width: 25vw;
}
.lessons__slider-card_txt {
  min-height: 200px;
}
.lessons__slider-card img {
  width: 100%;
  transform: scale(1, 1.05);
}

.reviews {
  display: flex;
  position: relative;
  flex-direction: column;
}
.reviews__card {
  position: absolute;
  max-width: 500px;
  bottom: 15%;
  right: 10%;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
@media (max-width: 767px) {
  .reviews__card {
    left: 10%;
    margin: 0 auto;
  }
}
.reviews__card .splide__pagination__page.is-active {
  background-color: yellow;
}
.reviews__card .splide__pagination__page {
  border-radius: 0 !important;
  width: 15px;
  height: 15px;
  border: 1px solid #fdd306;
  margin: 0.5rem;
  z-index: 2;
}
.reviews__card .paginator {
  display: flex;
  height: 100px;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.reviews .Qmark {
  position: absolute;
  top: -75px;
  right: 20px;
}
.reviews .slide {
  padding: 15% 10% 0 10%;
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
}
.reviews__topWrapper {
  flex: 1.5;
  background: url(../../assets/formal/Group431.png) no-repeat center center;
  background-size: cover;
}
.reviews__topWrapper-title {
  width: 80%;
  margin: 5% auto;
  text-align: center;
}
.reviews__topWrapper-container {
  justify-content: space-between;
  padding: 0 5% 300px 5%;
}
@media (max-width: 1024px) {
  .reviews__topWrapper-container {
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 5% 200px 5%;
  }
}
.reviews__topWrapper-container_card {
  position: relative;
  width: 30%;
  height: 20vh;
  min-width: 210px;
  min-height: 190px;
  text-align: center;
  padding: 0 2rem;
}
@media (max-width: 1024px) {
  .reviews__topWrapper-container_card {
    margin: 0 2rem 50px 2rem;
  }
}
.reviews__topWrapper-container_card .cardLeft {
  left: -2.5vh;
  bottom: -20%;
}
.reviews__topWrapper-container_card .cardMiddle {
  bottom: -20%;
  right: -4.5vh;
}
.reviews__topWrapper-container_card .cardRight {
  right: -10%;
  top: -2.5vh;
}
.reviews__topWrapper-container_card img {
  position: absolute;
}
.reviews__topWrapper .left {
  flex: 1;
  padding: 0 0 0 5%;
}
.reviews__topWrapper .right {
  justify-content: center;
  flex: 1;
  padding: 0 5% 0 0;
  max-width: 45%;
}
.reviews__bottomWrapper {
  flex: 1;
  padding: 200px 0;
}
@media (max-width: 1024px) {
  .reviews__bottomWrapper {
    padding: 200px 0 50px 0;
  }
}
.reviews__bottomWrapper .right {
  flex: 1;
}
.reviews__bottomWrapper .left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.keyBenefits {
  position: relative;
}
.keyBenefits .overlay {
  position: absolute;
  text-align: center;
  bottom: 0;
  right: 100%;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 0.5s ease-in-out;
}
.keyBenefits__box {
  position: relative;
  white-space: nowrap;
  text-align: center;
  height: 200px;
  max-height: 300px;
  max-width: 300px;
  width: 20vw;
  margin: 1rem;
  padding: 1rem;
}
@media (max-width: 1500px) {
  .keyBenefits__box {
    white-space: normal;
  }
}
@media (max-width: 767px) {
  .keyBenefits__box {
    width: 70%;
    height: 100px;
  }
}
@media (max-width: 480px) {
  .keyBenefits__box {
    width: 80%;
    height: 100px;
  }
}
.keyBenefits__box:hover .overlay {
  width: 100%;
  right: 0;
}
.keyBenefits__container {
  justify-content: space-between;
  margin-top: -15rem;
}
@media (max-width: 1500px) {
  .keyBenefits__container {
    justify-content: flex-start;
    margin-top: unset;
  }
  .keyBenefits__container .left2,
.keyBenefits__container .left3,
.keyBenefits__container .right2,
.keyBenefits__container .right3 {
    left: 0% !important;
    right: 0% !important;
  }
}
.keyBenefits__container__sideL, .keyBenefits__container__sideR {
  position: absolute;
  justify-content: space-around;
  height: 80%;
  min-height: 800px;
  top: 0px;
  bottom: 0px;
}
.keyBenefits__container-sideL {
  left: 0;
}
@media (max-width: 767px) {
  .keyBenefits__container-sideL {
    flex: 1;
    margin: 0;
    align-items: center;
  }
}
.keyBenefits__container-sideL .left2 {
  left: 5vw;
}
.keyBenefits__container-sideL .left3 {
  left: 10vw;
}
.keyBenefits__container-sideR {
  right: 0;
}
@media (max-width: 767px) {
  .keyBenefits__container-sideR {
    flex: 1;
    margin: 0;
    align-items: center;
  }
}
.keyBenefits__container-sideR .right2 {
  right: 5vw;
}
.keyBenefits__container-sideR .right3 {
  right: 10vw;
}
.keyBenefits__title {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 1500px) {
  .keyBenefits__title {
    width: unset;
  }
}
.keyBenefits img {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0;
}
@media (max-width: 1500px) {
  .keyBenefits img {
    margin: unset;
    left: unset;
  }
}
@media (max-width: 767px) {
  .keyBenefits img {
    display: none;
  }
}

.payments {
  position: relative;
}
.payments__top {
  height: 30vw;
}
.payments__bottom {
  padding: 10% 5% 5% 5%;
}
.payments__bottom-title {
  text-align: center;
  padding-top: 5%;
}
.payments__bottom-body {
  background: url(../../assets/formal/Group429.png) no-repeat center;
  background-size: 100%;
  width: 100%;
  justify-content: space-around;
}
.payments__bottom-body_box {
  width: 20%;
  text-align: center;
}
.payments__bottom-body_box:nth-child(odd) {
  padding-top: 5%;
}
@media (max-width: 767px) {
  .payments__bottom-body_box:nth-child(odd) {
    margin-top: 100px;
  }
}
.payments__bottom-body_box:nth-child(even) {
  padding-bottom: 5%;
}
@media (max-width: 767px) {
  .payments__bottom-body_box:nth-child(even) {
    margin-bottom: 70px;
  }
}
.payments__video {
  position: absolute;
  margin: 0 15%;
  top: 5vw;
  left: 0;
  right: 0;
  display: flex;
}
.payments__video video {
  height: 80%;
  width: 80%;
  margin: 0 auto;
}

.mars__title * {
  padding-bottom: 1%;
}
.mars__body-slider {
  flex: 5;
  min-width: 60vw;
}
.mars__body-slider_container {
  justify-content: space-between;
}
.mars__body-slider_container-item {
  margin: 0 2%;
}
.mars__body-slider_container-item img {
  width: 100%;
}
.mars__body-slider .paginator {
  display: flex;
  height: 100px;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.mars__body-slider .paginator * {
  padding: 0 5px;
}
.mars__body-themes {
  flex: 3;
  padding: 0 0 0 10%;
}
.mars__body-themes_title {
  padding: 0 0 10% 0;
}
.mars__body-themes_list li {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 2% 0;
}
.mars__body-themes_list li img {
  padding: 0 5px;
}
.mars__body-themes_list p {
  padding: 7% 0;
}

.game-design {
  position: relative;
  padding: 5% 5% 0 5%;
}
.game-design__background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 40%;
  z-index: -1;
}

.codeAcademy__video {
  position: relative;
  flex: 1.5;
  padding: 5% 0;
}
.codeAcademy__video video {
  width: 100%;
  margin: 0 auto;
}
.codeAcademy__video h4 {
  position: relative;
  width: 80%;
  top: 5%;
  text-align: center;
  margin: auto;
}
.codeAcademy__card {
  flex: 1;
  margin-bottom: 10%;
}
.codeAcademy__card-collapsible {
  width: 60%;
  margin-bottom: 10%;
}
.codeAcademy__card-collapsible button {
  align-items: center;
  width: 100%;
  margin-bottom: 5px;
}
.codeAcademy__card-collapsible_content {
  display: none;
  position: relative;
}
.codeAcademy__card-collapsible_content h4 {
  position: relative;
  width: 100%;
  padding: 10%;
  margin: auto;
  top: 30%;
  text-align: center;
}

.skillSet {
  position: relative;
}
.skillSet__top {
  height: 30vw;
}
.skillSet__bottom {
  padding: 5%;
}
.skillSet__bottom-title {
  text-align: center;
  padding-top: 5%;
}
.skillSet__bottom-body {
  background: url(../../assets/nonformal/skillBG.png) no-repeat center;
  background-size: 100%;
  width: 100%;
  height: 400px;
  justify-content: space-around;
}
.skillSet__bottom-body_box {
  width: 200px;
  text-align: center;
}
.skillSet__bottom-body_box h4 {
  position: absolute;
}
.skillSet__bottom-body_box:nth-child(2) {
  margin-top: 15%;
}
.skillSet__bottom-body_box:nth-child(4) {
  margin-bottom: 15%;
}
.skillSet__bottom-body_box:nth-child(5) {
  margin-right: 5%;
}
.skillSet__bottom-body_box:nth-child(6) {
  margin-top: 15%;
}

.marsPackage__title {
  width: 70vw;
}
.marsPackage__body {
  width: 100%;
  justify-content: space-around;
}
.marsPackage__body-box {
  position: relative;
  width: 30%;
  max-width: 500px;
  height: 200px;
}
.marsPackage__body-box img {
  position: absolute;
}
.marsPackage__body-box .imgIdea {
  margin-right: 100%;
}
.marsPackage__body-box .imgBoard {
  margin-right: 80%;
  margin-top: 170px;
}
.marsPackage__body-box .imgCertificate {
  margin-left: 90%;
  margin-top: 170px;
}

.bg123,
.bg5,
.bgAB,
.bgC {
  position: absolute;
}

.bg5 {
  right: 0;
  bottom: 20%;
}

.bgAB {
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.projectsLeft {
  position: relative;
}
.projectsLeft h2 {
  margin-bottom: 5%;
}
.projectsLeft .right {
  right: 57%;
}
.projectsLeft__main-title {
  justify-content: space-around;
  align-items: center;
  width: 40%;
  margin-left: 2%;
  padding-bottom: 2%;
}
.projectsLeft__main-title .skewb {
  width: 75%;
  padding-bottom: 10px;
}
.projectsLeft__main-title_img {
  justify-content: flex-start;
  align-items: center;
  max-width: 150px;
  text-align: center;
  padding: 0 15% 0 0;
}
.projectsLeft__main-title_img img {
  width: 100%;
}
.projectsLeft__main-body {
  position: relative;
  width: 50%;
}
.projectsLeft__main-body img {
  width: 100%;
}
.projectsLeft__aside {
  position: absolute;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  height: 83%;
  right: 30%;
  bottom: 0;
}
.projectsLeft__aside-card {
  align-items: center;
  width: 20vw;
  min-height: 23%;
}

.projectsRight {
  position: relative;
}
.projectsRight .paginator__wrapper {
  width: 50%;
  padding-left: 7%;
  text-align: start;
}
.projectsRight h2 {
  margin-bottom: 5%;
}
.projectsRight .right {
  width: 100%;
}
.projectsRight__main-title {
  justify-content: flex-end;
  width: 100%;
  padding-bottom: 2%;
}
.projectsRight__main-title_wrapper {
  justify-content: space-between;
  align-items: center;
  width: 40%;
  margin-right: 2%;
}
.projectsRight__main-title .skewb {
  width: 75%;
  padding-bottom: 10px;
}
.projectsRight__main-title_img {
  justify-content: flex-start;
  align-items: center;
  max-width: 150px;
  text-align: center;
  padding: 0 15% 0 0;
}
.projectsRight__main-title_img h3 {
  width: 70%;
}
.projectsRight__main-title_img img {
  width: 100%;
}
.projectsRight__main-body {
  justify-content: flex-end;
  width: 50% !important;
  margin-left: 50%;
}
.projectsRight__main-body_wrapper {
  width: 100%;
}
.projectsRight__main-body img {
  width: 100%;
}
.projectsRight__aside {
  position: absolute;
  justify-content: space-between;
  align-items: center;
  left: 30%;
  width: 30%;
  height: 100%;
  bottom: 0;
}
.projectsRight__aside-card {
  align-items: center;
  width: 20vw;
  min-height: 23%;
}

.projectsExtraR .paginator__wrapper {
  width: 50%;
  padding-left: 7%;
  text-align: start;
}
.projectsExtraR h2 {
  margin: unset;
}
.projectsExtraR .right {
  width: 100%;
}
.projectsExtraR__main {
  position: relative;
}
.projectsExtraR__main-body {
  position: relative;
  margin-left: 50%;
  padding-bottom: 50px;
}
.projectsExtraR__main-title {
  justify-content: flex-end;
  width: 100%;
  padding-bottom: 2%;
}
.projectsExtraR__main-title_wrapper {
  justify-content: space-between;
  align-items: center;
  width: 40%;
  margin-right: 2%;
}
.projectsExtraR__main-title .skewb {
  width: 75%;
  padding-bottom: 10px;
}
.projectsExtraR__main-title_img {
  justify-content: flex-start;
  align-items: center;
  max-width: 150px;
  text-align: center;
  padding: 0 15% 0 0;
}
.projectsExtraR__main-title_img h3 {
  width: 70%;
}
.projectsExtraR__main-title_img img {
  width: 100%;
}
.projectsExtraR__main-body {
  width: 50% !important;
  margin-left: 50%;
}
.projectsExtraR__main-body_wrapper {
  width: 100%;
}
.projectsExtraR__main-body img {
  width: 100%;
}
.projectsExtraR__aside {
  position: absolute;
  justify-content: space-between;
  align-items: center;
  left: 30%;
  width: 30%;
  height: 85%;
  bottom: 4.2%;
}
.projectsExtraR__aside-card {
  align-items: center;
  width: 20vw;
  min-height: 19%;
}
.projectsExtraR__aside-card_text-wrapper {
  align-items: center;
}
.projectsExtraR__aside-card_text-wrapper img {
  width: 15%;
  margin-left: 5%;
}
.projectsExtraR__sponsorship {
  justify-content: space-between;
  margin: 2% 0 0 56%;
}
@media (max-width: 1500px) {
  .projectsExtraR__sponsorship {
    flex-direction: column !important;
    justify-content: center;
  }
}
.projectsExtraR__sponsorship img {
  max-height: 70px;
}
.projectsExtraR__sponsorship-container {
  justify-content: space-between;
  text-align: center;
}
.projectsExtraR__sponsorship-container_brand {
  justify-content: space-between;
  align-items: center;
  margin-left: 5%;
}
.projectsExtraR__sponsorship-info {
  justify-content: center;
  align-items: center;
}
@media (max-width: 1500px) {
  .projectsExtraR__sponsorship-info {
    justify-content: flex-end;
    margin-top: 10px;
  }
}

.projectsExtraL h2 {
  margin-bottom: 5%;
}
.projectsExtraL .right {
  right: 57%;
}
.projectsExtraL__main {
  position: relative;
}
.projectsExtraL__main-title {
  justify-content: space-around;
  align-items: center;
  width: 40%;
  margin-left: 2%;
  padding-bottom: 2%;
}
.projectsExtraL__main-title .skewb {
  width: 75%;
  padding-bottom: 10px;
}
.projectsExtraL__main-title_img {
  justify-content: flex-start;
  align-items: center;
  max-width: 150px;
  text-align: center;
  padding: 0 15% 0 0;
}
.projectsExtraL__main-title_img img {
  width: 100%;
}
.projectsExtraL__main-body {
  position: relative;
  width: 50%;
  padding-bottom: 50px;
}
.projectsExtraL__main-body img {
  width: 100%;
}
.projectsExtraL__aside {
  position: absolute;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  height: 83%;
  right: 30%;
  bottom: 0;
}
.projectsExtraL__aside-card {
  align-items: center;
  width: 20vw;
  min-height: 19%;
}
.projectsExtraL__aside-card_text-wrapper {
  align-items: center;
}
.projectsExtraL__aside-card_text-wrapper img {
  width: 15%;
  margin-left: 5%;
}
.projectsExtraL__sponsorship {
  justify-content: space-between;
  margin: 2% 57% 0 0;
  flex-direction: row-reverse !important;
}
@media (max-width: 1500px) {
  .projectsExtraL__sponsorship {
    flex-direction: column !important;
    justify-content: center;
  }
}
.projectsExtraL__sponsorship img {
  max-height: 70px;
}
.projectsExtraL__sponsorship-container {
  justify-content: space-between;
  text-align: center;
}
@media (max-width: 1500px) {
  .projectsExtraL__sponsorship-container {
    justify-content: center;
  }
}
.projectsExtraL__sponsorship-container_brand {
  justify-content: space-between;
  align-items: center;
  margin-left: 5%;
}
.projectsExtraL__sponsorship-info {
  justify-content: center;
  align-items: center;
}
@media (max-width: 1500px) {
  .projectsExtraL__sponsorship-info {
    justify-content: flex-start;
    margin-top: 10px;
  }
}

.news {
  position: relative;
}
.news__background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40vh;
  min-height: 400px;
  z-index: -1;
}
@media (max-width: 1500px) {
  .news__title {
    align-items: center !important;
  }
}
.news__title * {
  padding-bottom: 1%;
}
.news__title-container {
  margin-right: 10%;
}
@media (max-width: 1500px) {
  .news__title-container {
    margin: 5% 0 0 0;
  }
}
.news__body {
  flex-wrap: nowrap;
  justify-content: space-between;
}
@media (max-width: 1500px) {
  .news__body {
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
.news__body-card {
  position: relative;
  margin: 2rem;
  min-height: 20vw;
  width: 20%;
}
.news__body-card_image {
  flex: 5;
}
.news__body-card_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.news__body-card_text {
  flex: 1;
  padding: 1rem;
}
.news__body-card_tag {
  position: absolute;
  right: 0;
  top: 10%;
  min-height: 2vw;
  width: 40%;
}

.intersection {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 15%;
  margin-top: -7%;
}
@media (max-width: 1500px) {
  .intersection {
    position: unset;
    margin-left: unset;
    margin: 10px 0;
  }
}
.intersection__selections {
  padding: 3rem;
}
@media (max-width: 1500px) {
  .intersection__selections {
    padding: 1rem;
  }
}
@media (max-width: 1500px) {
  .intersection__selections ul {
    display: flex;
  }
}
.intersection__selections li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1.5rem 0;
}
.intersection__selections li img {
  padding-right: 5px;
}
@media (max-width: 1500px) {
  .intersection__selections li {
    margin-left: 1.5rem;
  }
}

.game-learning {
  background-color: #eaf2ff;
}
.game-learning__title {
  text-align: center;
}
.game-learning__benefits p {
  text-align: center;
}
.game-learning__img img {
  -o-object-fit: contain;
     object-fit: contain;
}

.research * {
  text-align: center;
}
.research__topWrapper button {
  padding: 0.75rem 3rem;
  background-color: #f14b00;
}
.research__topWrapper button * {
  color: white !important;
}
.research__topWrapper .box {
  background-color: #eaf2ff;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.research__topWrapper .box label {
  color: #f14b00;
}

footer {
  background-color: #3963dd;
}

.services__card h3,
.services__card h4 {
  color: #4b6072;
}
.services__card, .services__cardBig {
  background-color: #eaf2ff;
  text-align: center;
}
.services__card h3, .services__cardBig h3 {
  font-weight: 400 !important;
}
.services__card a, .services__cardBig a {
  color: #f8743f;
  font-weight: 500;
  font-size: 1rem;
}
.services h4 {
  padding: 0 0 10% 0;
}
.services h3 {
  padding: 0 0 10px 0;
}

.community__card {
  background-color: #eaf2ff;
}
.community__card .slide h4 {
  text-align: center;
}
.community__topWrapper .title {
  text-align: end;
}
.community__topWrapper .title * {
  display: inline-block;
}
.community__topWrapper p {
  padding: 0 0 0 25%;
}
.community__bottomWrapper {
  background-color: #eaf2ff;
}
.community__bottomWrapper-right {
  text-align: center;
}/*# sourceMappingURL=main.css.map */