@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;700&display=swap");
.companies {
  height: 8vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .companies {
    height: 6vh;
  }
}
@media (max-width: 480px) {
  .companies {
    background-size: 85%;
  }
}

.game-learning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.game-learning__title {
  flex: 1;
  max-width: 60%;
}
@media (max-width: 1500px) {
  .game-learning__title {
    max-width: unset;
  }
}
.game-learning__benefits {
  flex: 1;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media (max-width: 480px) {
  .game-learning__benefits {
    flex-direction: column !important;
  }
}
.game-learning__benefits p {
  max-width: 380px;
  padding: 2%;
}
@media (max-width: 480px) {
  .game-learning__benefits p {
    max-width: 200px;
  }
}
@media (max-width: 1024px) {
  .game-learning__benefits img {
    transform: scale(0.7);
  }
}
@media (max-width: 480px) {
  .game-learning__benefits img {
    transform: rotate(90deg) scale(0.6);
  }
}
.game-learning__img {
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0%;
}
.game-learning__img img {
  width: 80%;
}
@media (max-width: 1500px) {
  .game-learning__img img {
    width: 70%;
  }
}
@media (max-width: 1024px) {
  .game-learning__img img {
    width: 60%;
  }
}
@media (max-width: 480px) {
  .game-learning__img img {
    width: 100%;
  }
}

.research {
  display: flex;
  flex-direction: column;
  background: url(res/img/main/Group432.png) no-repeat center center;
  background-size: cover;
}
.research__topWrapper {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 1500px) {
  .research__topWrapper {
    padding: 5% 10% 0 10% !important;
  }
}
@media (min-width: 1500px) {
  .research__topWrapper {
    padding: 5% 10% 15% 10% !important;
  }
}
.research__topWrapper button {
  margin: 5% 0;
}
.research__topWrapper .container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 5% 0;
}
@media (max-width: 1500px) {
  .research__topWrapper .container {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.research__topWrapper .container .box {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  flex: 1;
  width: 30%;
  max-width: 500px;
  margin: 1rem 1rem 1rem 0;
  padding: 1rem 0;
}
@media (max-width: 1500px) {
  .research__topWrapper .container .box {
    width: unset;
    min-height: 160px;
  }
}
@media (max-width: 1024px) {
  .research__topWrapper .container .box {
    display: flex;
  }
}
@media (max-width: 480px) {
  .research__topWrapper .container .box {
    width: 100%;
    max-height: 100px;
    min-height: unset;
    min-width: 226px;
  }
}
.research__topWrapper .container .box * {
  align-self: center;
}
.research__topWrapper .container .box img {
  justify-self: center;
}
@media (max-width: 1024px) {
  .research__topWrapper .container .box img {
    transform: scale(0.7);
  }
}
@media (max-width: 480px) {
  .research__topWrapper .container .box img {
    width: 30%;
  }
}
.research__topWrapper .container .box h4 {
  padding: 1rem;
}
.research__bottomWrapper {
  position: relative;
  bottom: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding-top: 10%;
  width: 58%;
}
@media (max-width: 1500px) {
  .research__bottomWrapper {
    width: unset;
  }
}

.teacherSupport {
  display: flex;
  margin: 0 5%;
  justify-content: space-around;
  min-height: 500px;
  padding: 5% 10% 5% 10%;
}
@media (max-width: 1500px) {
  .teacherSupport {
    margin-bottom: unset !important;
  }
}
@media (max-width: 1024px) {
  .teacherSupport {
    flex-direction: column;
    align-items: center;
    padding: 5% 10% 10% 10%;
  }
}
@media (max-width: 480px) {
  .teacherSupport {
    min-height: 500px;
  }
}
.teacherSupport img {
  position: absolute;
  max-width: 128px;
}
@media (max-width: 1024px) {
  .teacherSupport img {
    width: 50%;
  }
}
.teacherSupport .left {
  top: 15%;
  right: 0;
  margin-right: 95%;
}
@media (max-width: 480px) {
  .teacherSupport .left {
    top: 80%;
  }
}
.teacherSupport .right {
  right: 10px;
  margin-top: -15px;
}
.teacherSupport .right2 {
  left: 0;
  top: 50%;
  margin-left: 85%;
}
.teacherSupport .text {
  position: relative;
  padding-right: 1rem;
  margin: 0 10%;
}
@media (max-width: 480px) {
  .teacherSupport .text {
    margin: 0;
  }
}
.teacherSupport__wrapper1 {
  justify-content: flex-start;
}
@media (max-width: 1024px) {
  .teacherSupport__wrapper1 {
    margin-right: 10vw;
    max-width: 60%;
  }
}
.teacherSupport__wrapper2 {
  align-items: center;
}
@media (max-width: 1500px) {
  .teacherSupport__wrapper2 {
    margin-bottom: 50px;
  }
}
@media (max-width: 1024px) {
  .teacherSupport__wrapper2 {
    margin-left: 30vw;
    max-width: 60%;
    margin-bottom: unset;
  }
}
.teacherSupport__wrapper3 {
  align-items: flex-end;
}
@media (max-width: 1024px) {
  .teacherSupport__wrapper3 {
    margin-right: 50%;
    max-width: 60%;
  }
}

.community {
  display: flex;
  position: relative;
  flex-direction: column;
}
.community__card {
  position: absolute;
  min-width: 35vh;
  max-width: 450px;
  left: 10%;
  top: 40%;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
@media (max-width: 1024px) {
  .community__card {
    top: 45%;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .community__card {
    top: unset;
    bottom: 5%;
    left: 0;
    right: 0;
    width: 50%;
  }
}
.community__card .splide__pagination__page.is-active {
  background-color: yellow;
}
.community__card .splide__pagination__page {
  border-radius: 0 !important;
  width: 10px;
  height: 10px;
  border: 1px solid #fdd306;
  margin: 0.5rem;
  z-index: 2;
}
.community__card .paginator {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}
.community .Qmark {
  position: absolute;
  top: -90px;
  left: 20px;
}
@media (max-width: 1024px) {
  .community .Qmark {
    transform: scale(0.5);
    top: -70px;
    left: -10px;
  }
}
@media (max-width: 480px) {
  .community .Qmark {
    transform: scale(0.3);
    left: -20%;
  }
}
.community .slide {
  padding: 10% 10% 0 10%;
  height: 100%;
}
@media (max-width: 1500px) {
  .community .slide {
    padding: 7% 5% 0 5%;
  }
}
@media (max-width: 480px) {
  .community .slide {
    padding: 10% 1rem 0 1rem;
  }
}
.community .slide__title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2;
  width: 90%;
  min-height: 200px;
  padding-top: 5%;
}
@media (max-width: 1500px) {
  .community .slide__title {
    min-height: unset;
    padding-top: unset;
  }
}
@media (max-width: 480px) {
  .community .slide__title {
    min-height: 110px;
  }
}
.community .slide__body {
  flex: 1;
  width: 80%;
}
@media (max-width: 1024px) {
  .community .slide__body {
    width: 100%;
  }
}
.community .slide__body img {
  max-width: 70px;
  max-height: 70px;
  margin: auto 0;
}
@media (max-width: 1024px) {
  .community .slide__body img {
    transform: scale(0.75);
  }
}
.community .slide__body .user {
  padding: 1rem;
  justify-content: center;
}
.community .slide__body .user__name {
  padding-bottom: 0.25rem;
  font-weight: 600;
}
.community__topWrapper {
  background: url(res/img/main/Group433.png) no-repeat center center;
  background-size: cover;
  padding: 5% 10%;
}
@media (max-width: 1500px) {
  .community__topWrapper {
    background-size: auto;
  }
}
.community__topWrapper img {
  position: absolute;
}
.community__topWrapper-left {
  flex: 1;
  padding: 0 0 0 5%;
}
@media (max-width: 767px) {
  .community__topWrapper-left {
    display: none;
  }
}
.community__topWrapper-right {
  justify-content: center;
  flex: 1;
  padding: 0 5% 0 0;
  max-width: 50%;
}
@media (max-width: 1500px) {
  .community__topWrapper-right {
    flex: 2;
    max-width: unset;
  }
}
.community__bottomWrapper {
  padding: 5%;
  min-height: 430px;
}
@media (max-width: 1024px) {
  .community__bottomWrapper {
    min-height: 300px;
  }
}
.community__bottomWrapper-left {
  flex: 1;
}
.community__bottomWrapper-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1500px) {
  .community__bottomWrapper-right {
    display: none;
  }
}

.achievements {
  justify-content: space-between;
  background: url(res/img/main/Component17.png) no-repeat center 150px;
  background-size: 100%;
}
@media (max-width: 1024px) {
  .achievements {
    background: url(res/img/main/Group\ 512.png) no-repeat center 45px;
    background-size: 100%;
    z-index: -1;
  }
}
@media (max-width: 1024px) {
  .achievements__container {
    flex-direction: column;
    align-items: center;
  }
}
.achievements .box {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1rem;
  max-width: 30%;
  text-align: center;
}
@media (max-width: 1024px) {
  .achievements .box {
    max-width: 400px;
    height: 200px;
  }
}
@media (max-width: 480px) {
  .achievements .box {
    grid-template-rows: unset;
    height: unset;
    grid-gap: unset;
    margin-bottom: 30px;
  }
}
@media (max-width: 480px) {
  .achievements .box__top {
    max-height: 80px;
  }
}
@media (max-width: 480px) {
  .achievements .box__top img {
    max-width: 100px;
    max-height: 50px;
  }
}
.achievements .box__bottom {
  align-self: start;
}
.achievements h2 {
  text-align: center;
}

.services {
  justify-content: space-between;
  background: url(res/img/main/Pilis2.png) no-repeat center;
  background-size: cover;
}
.services__title {
  justify-content: center;
  align-items: flex-start;
  padding: 2% 0 5% 0;
}
@media (max-width: 480px) {
  .services__title {
    height: unset;
  }
}
.services__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
@media (max-width: 1500px) {
  .services__container {
    width: 100%;
  }
}
.services img {
  position: absolute;
}
.services__card {
  position: relative;
  height: 20vw;
  width: 20vw;
  max-width: 350px;
  max-height: 350px;
  margin: 0 auto;
  padding: 1rem;
}
@media (max-width: 1500px) {
  .services__card {
    height: 25vw;
    width: 25vw;
  }
}
@media (max-width: 1024px) {
  .services__card {
    height: 25vw;
    width: 25vw;
    min-width: unset;
    min-height: unset;
  }
}
@media (max-width: 767px) {
  .services__card {
    height: 35vw;
    width: 35vw;
  }
}
@media (max-width: 480px) {
  .services__card {
    min-width: 120px;
    min-height: 120px;
  }
}
.services__card .frame {
  width: 25vw;
  height: 25vw;
  max-width: 430px;
  max-height: 430px;
}
@media (max-width: 1500px) {
  .services__card .frame {
    width: 30vw;
    height: 30vw;
  }
}
@media (max-width: 1024px) {
  .services__card .frame {
    height: 30vw;
    width: 30vw;
  }
}
@media (max-width: 767px) {
  .services__card .frame {
    height: 45vw;
    width: 40vw;
  }
}
.services__card a {
  z-index: 999;
}
.services__cardBig {
  position: relative;
  height: 25vw;
  width: 25vw;
  max-width: 350px;
  max-height: 350px;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .services__cardBig {
    min-width: 210px;
  }
}
@media (max-width: 767px) {
  .services__cardBig {
    height: 35vw;
    width: 35vw;
    min-width: unset;
  }
}
@media (max-width: 480px) {
  .services__cardBig {
    min-width: 120px;
    min-height: 120px;
  }
}
.services__cardBig .frame {
  width: 30vw;
  height: 30vw;
  max-width: 430px;
  max-height: 430px;
}
@media (max-width: 1024px) {
  .services__cardBig .frame {
    min-width: 260px;
    min-height: unset;
  }
}
@media (max-width: 767px) {
  .services__cardBig .frame {
    height: 43vw;
    width: 43vw;
  }
}
@media (max-width: 480px) {
  .services__cardBig .frame {
    min-width: unset;
    min-height: unset;
  }
}
.services__cardLeft {
  flex: 1;
  margin-top: 10%;
}
@media (max-width: 767px) {
  .services__cardLeft {
    margin-top: 40%;
  }
}
.services__cardMiddle {
  flex: 1;
  margin-top: -20%;
}
@media (max-width: 767px) {
  .services__cardMiddle {
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
  }
}
.services__cardRight {
  flex: 1;
  margin-top: 10%;
}
@media (max-width: 767px) {
  .services__cardRight {
    margin-top: 40%;
  }
}

.package {
  justify-content: center;
  align-items: center;
}
@media (max-width: 480px) {
  .package {
    padding: 5% !important;
  }
}
.package__title {
  margin: 0 10vw 10% 10vw;
}
@media (max-width: 1500px) {
  .package__title {
    margin: 0 5vw 10% 5vw;
  }
}
.package__card {
  position: relative;
  min-width: 100%;
  height: 60%;
  align-items: center;
}
.package__card-big {
  position: absolute;
  width: 30vw;
  height: 20vw;
  min-height: 250px;
  padding: 0 5%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
@media (max-width: 1024px) {
  .package__card-big {
    min-height: 200px;
  }
}
@media (max-width: 767px) {
  .package__card-big {
    min-width: 220px;
    min-height: 180px;
    width: 45vw;
  }
}
@media (max-width: 480px) {
  .package__card-big {
    min-height: 150px;
  }
}
.package__card-big img {
  position: absolute;
  top: 80%;
  width: 12vw;
  min-width: 80px;
}
@media (max-width: 767px) {
  .package__card-big img {
    left: -10%;
  }
}
@media (max-width: 767px) {
  .package__card-big_text h4 {
    text-align: center;
  }
}
.package__card-container {
  justify-content: space-between;
  width: 100%;
  margin: 0 10%;
}
@media (max-width: 1500px) {
  .package__card-container {
    margin: 0 5% !important;
  }
}
@media (max-width: 767px) {
  .package__card-container {
    position: relative;
    flex-direction: column !important;
    height: 350px;
  }
}
@media (max-width: 480px) {
  .package__card-container {
    height: 310px;
  }
}
.package__card-container_small {
  position: relative;
  min-height: 15vw;
  width: 18vw;
  padding: 1rem 5%;
}
@media (max-width: 1500px) {
  .package__card-container_small {
    width: 24vw;
  }
}
@media (max-width: 1024px) {
  .package__card-container_small {
    width: 28vw;
  }
}
@media (max-width: 767px) {
  .package__card-container_small {
    position: absolute;
    min-width: 180px;
    min-height: 100px;
  }
  .package__card-container_small:nth-child(2) {
    bottom: 0;
    right: 0;
  }
}
@media (max-width: 480px) {
  .package__card-container_small:first-child {
    margin-bottom: 200px;
  }
}
@media (max-width: 767px) {
  .package__card-container_small_text {
    text-align: center;
  }
}
.package__card-container_small img {
  position: absolute;
  width: 10vw;
  min-width: 70px;
}
.package__card-container_small .right {
  margin-left: 18vw;
  bottom: -25%;
}
@media (max-width: 1500px) {
  .package__card-container_small .right {
    right: -15%;
  }
}
@media (max-width: 767px) {
  .package__card-container_small .right {
    top: -40%;
    right: 0;
    margin-top: unset;
  }
}
.package__card-container_small .left {
  margin-right: 18vw;
  margin-top: 18vw;
}
@media (max-width: 1500px) {
  .package__card-container_small .left {
    left: -25%;
  }
}
@media (max-width: 767px) {
  .package__card-container_small .left {
    right: -20%;
    bottom: -20%;
    left: unset;
    margin-right: unset;
  }
}

.download {
  padding: 10% 5% 12% 5%;
}
@media (max-width: 480px) {
  .download {
    padding: 10% 5% 20% 5%;
  }
}
.download__container {
  justify-content: center;
  align-items: center;
}
@media (max-width: 480px) {
  .download__container h3 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
  }
}
.download__container button {
  padding: 1rem 2rem;
  margin-left: 1rem;
}
.download__container button * {
  padding: 0 0.25rem;
}
@media (max-width: 1024px) {
  .download__container button img {
    transform: scale(0.7);
  }
}

.orderNow {
  position: absolute;
  right: 0;
  width: 30%;
  min-width: 400px;
  max-width: 600px;
  padding: 3% 2%;
  margin-top: -8%;
  margin-right: 10%;
  z-index: 99;
}
@media (max-width: 480px) {
  .orderNow {
    position: unset;
    width: 100%;
    min-width: unset;
  }
}
.orderNow__card {
  padding: 1rem;
}
@media (max-width: 1500px) {
  .orderNow__card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.orderNow__card-btn {
  padding: 1rem 2rem;
}

.lessons {
  justify-content: space-around;
  position: relative;
}
.lessons__background {
  position: absolute;
  height: 70%;
  right: 0;
  left: 0;
  top: 0;
  z-index: -1;
}
.lessons__title {
  margin-left: 20%;
  display: flex;
  align-items: center;
  padding: 12rem 0 5% 0;
}
@media (max-width: 480px) {
  .lessons__title {
    padding: 5% 0;
  }
}
.lessons__slider {
  position: relative;
  padding-bottom: 5%;
  margin: 0 10%;
}
@media (max-width: 1500px) {
  .lessons__slider {
    width: 50%;
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  .lessons__slider {
    padding: 0 5% !important;
  }
}
@media (max-width: 767px) {
  .lessons__slider {
    width: 60%;
    margin: 0 auto;
  }
}
@media (max-width: 480px) {
  .lessons__slider {
    width: 70%;
    padding: 0 !important;
  }
}
.lessons__slider-card {
  display: flex;
  flex-direction: column;
}
.lessons__slider-card_txt {
  max-height: 200px;
  padding: 20% 10px;
}
@media (max-width: 480px) {
  .lessons__slider-card_txt {
    padding: 10% 10px;
  }
}
.lessons__slider-card img {
  width: 100%;
  transform: scale(1, 1.05);
}

.reviews {
  display: flex;
  position: relative;
  flex-direction: column;
}
.reviews__inter-card {
  position: absolute;
  text-align: center;
  width: 50vw;
  max-width: 600px;
  top: -15%;
  left: 5%;
  right: 60%;
  padding: 4rem;
}
@media (max-width: 1500px) {
  .reviews__inter-card {
    padding: 3rem;
    width: 500px;
    max-width: unset;
  }
}
@media (max-width: 1500px) {
  .reviews__inter-card {
    position: unset;
    width: 100%;
    padding: 1.5rem 10%;
  }
}
.reviews__card {
  position: absolute;
  max-width: 500px;
  bottom: 170px;
  right: 10%;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
@media (max-width: 1500px) {
  .reviews__card {
    right: 5%;
    bottom: 5%;
  }
}
@media (max-width: 1024px) {
  .reviews__card {
    bottom: 30px;
    left: 0;
    right: 0%;
    margin: 0 auto;
    max-width: 400px;
  }
}
@media (max-width: 767px) {
  .reviews__card {
    margin: 0 auto;
    min-width: 220px;
    max-width: 284px;
  }
}
@media (max-width: 480px) {
  .reviews__card {
    width: 80%;
  }
}
@media (max-width: 767px) {
  .reviews__card .Qmark {
    transform: scale(0.5);
  }
}
@media (max-width: 480px) {
  .reviews__card .Qmark {
    right: -15% !important;
  }
}
.reviews__card .splide__pagination__page.is-active {
  background-color: yellow;
}
.reviews__card .splide__pagination__page {
  border-radius: 0 !important;
  width: 15px;
  height: 15px;
  border: 1px solid #fdd306;
  margin: 0.5rem;
  z-index: 2;
}
@media (max-width: 767px) {
  .reviews__card .splide__pagination__page {
    height: 8px;
    width: 8px;
  }
}
.reviews__card .paginator {
  display: flex;
  height: 100px;
  list-style: none;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .reviews__card .paginator {
    height: unset;
    padding: 2rem;
  }
}
.reviews .Qmark {
  position: absolute;
  top: -75px;
  left: 20px;
}
@media (max-width: 1500px) {
  .reviews .Qmark {
    transform: scale(0.75);
  }
}
@media (max-width: 1024px) {
  .reviews .Qmark {
    transform: scale(0.5);
    left: 0;
  }
}
.reviews .slide {
  height: 100%;
  padding: 15% 10% 0 10%;
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
}
.reviews__topWrapper {
  flex: 1.5;
  background: url(res/img/formal/Group431.png) no-repeat center center;
  background-size: cover;
}
.reviews__topWrapper-title {
  width: 80%;
  margin: 300px auto 5% auto;
  text-align: center;
}
@media (max-width: 1500px) {
  .reviews__topWrapper-title {
    margin: 5% auto;
  }
}
.reviews__topWrapper-container {
  justify-content: space-between;
  padding: 0 5% 250px 5%;
}
@media (max-width: 1024px) {
  .reviews__topWrapper-container {
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
  }
}
.reviews__topWrapper-container_card {
  position: relative;
  height: 20vh;
  min-width: 185px;
  min-height: 190px;
  text-align: center;
  margin: 0 5%;
  padding: 2rem;
}
@media (max-width: 1500px) {
  .reviews__topWrapper-container_card {
    height: 20vw;
  }
}
@media (max-width: 1024px) {
  .reviews__topWrapper-container_card {
    width: 25%;
    margin: 0 2rem 50px 2rem;
  }
}
@media (max-width: 480px) {
  .reviews__topWrapper-container_card {
    transform: scale(0.75);
    margin: 0;
  }
}
.reviews__topWrapper-container_card .cardLeft {
  left: -2.5vh;
  bottom: -20%;
}
.reviews__topWrapper-container_card .cardMiddle {
  right: -3.5vh;
  bottom: -20%;
}
.reviews__topWrapper-container_card .cardRight {
  right: -3.5vh;
  top: -2.5vh;
}
@media (max-width: 480px) {
  .reviews__topWrapper-container_card .cardRight {
    right: -6vh;
  }
}
.reviews__topWrapper-container_card img {
  position: absolute;
}
.reviews__topWrapper .left {
  flex: 1;
  padding: 0 0 0 5%;
}
.reviews__topWrapper .right {
  justify-content: center;
  flex: 1;
  padding: 0 5% 0 0;
  max-width: 45%;
}
.reviews__bottomWrapper {
  flex: 1;
  padding: 200px 0;
}
@media (max-width: 1500px) {
  .reviews__bottomWrapper {
    padding: 10% 5%;
  }
}
@media (max-width: 1024px) {
  .reviews__bottomWrapper {
    padding: 5% 5% 400px 5%;
  }
}
@media (max-width: 480px) {
  .reviews__bottomWrapper {
    padding: 5% 5% 300px 5%;
  }
}
.reviews__bottomWrapper .right {
  flex: 1;
}
@media (max-width: 1024px) {
  .reviews__bottomWrapper .right {
    display: none;
  }
}
.reviews__bottomWrapper .left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .reviews__bottomWrapper .left h2 {
    text-align: center;
  }
}

.keyBenefits {
  position: relative;
}
.keyBenefits .overlay {
  position: absolute;
  text-align: center;
  bottom: 0;
  right: 100%;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 0.5s ease-in-out;
}
.keyBenefits__box {
  position: relative;
  text-align: center;
  height: 200px;
  width: 200px;
  margin: 1rem;
  padding: 1rem;
}
@media (max-width: 1500px) {
  .keyBenefits__box {
    white-space: normal;
  }
}
@media (max-width: 767px) {
  .keyBenefits__box {
    width: 70%;
    height: 100px;
  }
}
@media (max-width: 480px) {
  .keyBenefits__box {
    width: 80%;
    height: 100px;
  }
}
.keyBenefits__box:hover .overlay {
  width: 100%;
  right: 0;
}
.keyBenefits__container {
  justify-content: space-between;
  margin-top: -15rem;
}
@media (max-width: 1500px) {
  .keyBenefits__container {
    justify-content: flex-start;
    margin-top: unset;
  }
  .keyBenefits__container .left2,
.keyBenefits__container .left3,
.keyBenefits__container .right2,
.keyBenefits__container .right3 {
    left: 0% !important;
    right: 0% !important;
  }
}
.keyBenefits__container__sideL, .keyBenefits__container__sideR {
  position: absolute;
  justify-content: space-around;
  height: 80%;
  min-height: 800px;
  top: 0px;
  bottom: 0px;
}
.keyBenefits__container-sideL {
  left: 0;
}
@media (max-width: 767px) {
  .keyBenefits__container-sideL {
    flex: 1;
    margin: 0;
    align-items: center;
  }
}
.keyBenefits__container-sideL .left2 {
  left: 5vw;
}
.keyBenefits__container-sideL .left3 {
  left: 10vw;
}
.keyBenefits__container-sideR {
  right: 0;
}
@media (max-width: 767px) {
  .keyBenefits__container-sideR {
    flex: 1;
    margin: 0;
    align-items: center;
  }
}
.keyBenefits__container-sideR .right2 {
  right: 5vw;
}
.keyBenefits__container-sideR .right3 {
  right: 10vw;
}
.keyBenefits__title {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 1500px) {
  .keyBenefits__title {
    width: unset;
  }
}
.keyBenefits img {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0;
}
@media (max-width: 1500px) {
  .keyBenefits img {
    margin: unset;
    left: unset;
  }
}
@media (max-width: 767px) {
  .keyBenefits img {
    display: none;
  }
}

.payments {
  position: relative;
}
.payments__top {
  height: 30vw;
}
.payments__bottom {
  padding: 5% 5% 5% 5%;
}
@media (max-width: 767px) {
  .payments__bottom {
    padding: 10% 5% 5% 5%;
  }
}
.payments__bottom-title {
  text-align: center;
  padding-top: 5%;
}
.payments__bottom-body {
  background: url(res/img/formal/Group429.png) no-repeat center;
  background-size: 100%;
  width: 100%;
  justify-content: space-around;
}
.payments__bottom-body_box {
  width: 20%;
  text-align: center;
}
.payments__bottom-body_box:nth-child(odd) {
  padding-top: 5%;
}
@media (max-width: 767px) {
  .payments__bottom-body_box:nth-child(odd) {
    margin-top: 90px;
    align-items: flex-start;
  }
}
.payments__bottom-body_box:nth-child(even) {
  padding-bottom: 5%;
}
@media (max-width: 767px) {
  .payments__bottom-body_box:nth-child(even) {
    margin-bottom: 50px;
    align-items: flex-end;
  }
  .payments__bottom-body_box:nth-child(even) h3 {
    margin-bottom: 45px;
  }
}
.payments__video {
  position: absolute;
  margin: 0 15%;
  top: 5vw;
  left: 0;
  right: 0;
  display: flex;
}
.payments__video video {
  height: 80%;
  width: 80%;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .payments__video video {
    width: 90%;
  }
}

.mars__title * {
  padding-bottom: 1%;
}
.mars__title h4,
.mars__title h2 {
  text-align: center;
}
.mars__bot {
  position: absolute;
  bottom: -10%;
  left: 30%;
}
@media (max-width: 1500px) {
  .mars__bot {
    bottom: -5%;
  }
}
@media (max-width: 1024px) {
  .mars__bot {
    display: none;
  }
}
.mars__bot img {
  width: 80%;
}
.mars__body {
  position: relative;
}
@media (max-width: 1024px) {
  .mars__body {
    flex-direction: column !important;
  }
}
.mars__body-slider {
  flex: 5;
  min-width: 50vw;
}
.mars__body-slider_container {
  justify-content: space-between;
}
.mars__body-slider_container-item img {
  width: 100%;
}
.mars__body-slider .paginator {
  display: flex;
  height: 100px;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.mars__body-slider .paginator * {
  padding: 0 5px;
}
.mars__body-themes {
  flex: 3;
}
@media (max-width: 1024px) {
  .mars__body-themes {
    align-items: flex-start;
  }
}
.mars__body-themes_title {
  padding: 0 0 10% 0;
}
@media (max-width: 1024px) {
  .mars__body-themes_title {
    padding: 2% 0 10px 0;
  }
}
.mars__body-themes_list li {
  display: flex;
  align-items: flex-start;
  list-style-type: none;
  padding-bottom: 2%;
}
@media (max-width: 1024px) {
  .mars__body-themes_list li {
    padding: 1% 0;
  }
}
.mars__body-themes_list li img {
  padding: 0 5px;
}
@media (max-width: 767px) {
  .mars__body-themes_list li img {
    width: 25px;
    height: 14px;
  }
}
.mars__body-themes_list p {
  padding: 7% 0;
}
@media (max-width: 1024px) {
  .mars__body-themes_list p {
    padding: 10px 0;
  }
}

.game-design {
  position: relative;
}
.game-design .mars__body {
  padding-top: 5%;
}
@media (max-width: 1024px) {
  .game-design .mars__spacer {
    width: 100%;
    padding-top: 5%;
  }
}
@media (max-width: 1024px) {
  .game-design .mars__title2 {
    max-width: 60%;
  }
}
@media (max-width: 480px) {
  .game-design .mars__title2 {
    max-width: unset;
  }
}
.game-design .mars__body-themes_title * {
  padding-bottom: 1%;
}
@media (max-width: 480px) {
  .game-design .mars__body-themes_title * {
    text-align: center !important;
  }
}
.game-design .mars__body-themes_title h4 {
  text-align: start;
}
.game-design__background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 40%;
  z-index: -1;
}
@media (max-width: 767px) {
  .game-design__background {
    right: 0;
  }
}

.codeAcademy__footer {
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 5%;
}
.codeAcademy__footer * {
  padding-right: 1rem;
}
.codeAcademy__video {
  position: relative;
  flex: 1.5;
  padding: 5% 0;
}
@media (max-width: 1024px) {
  .codeAcademy__video {
    padding: 115px 0 0 0;
  }
}
.codeAcademy__video video {
  width: 100%;
  margin: 0 auto;
}
.codeAcademy__video h4 {
  position: relative;
  vertical-align: middle;
  text-align: center;
  margin: auto;
  padding: 2%;
  z-index: 999;
}
.codeAcademy__card {
  flex: 1;
  z-index: 99;
}
@media (max-width: 767px) {
  .codeAcademy__card {
    display: none !important;
  }
}
@media (max-width: 1024px) {
  .codeAcademy__card {
    margin-bottom: -10%;
  }
}
.codeAcademy__card-collapsible {
  width: 80%;
  max-width: 600px;
  margin-bottom: 10%;
}
.codeAcademy__card-collapsible .collapsible {
  justify-content: space-between;
}
.codeAcademy__card-collapsible .collapsible h4 {
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0 auto;
}
.codeAcademy__card-collapsible button {
  align-items: center;
  width: 100%;
  margin-bottom: 5px;
}
.codeAcademy__card-collapsible_content {
  display: none;
  position: relative;
}
.codeAcademy__card-collapsible_content h4 {
  position: relative;
  width: 100%;
  padding: 10%;
  margin: auto;
  top: 30%;
  text-align: center;
}

.skillSet {
  position: relative;
}
.skillSet__top {
  height: 30vw;
}
.skillSet__bottom {
  padding: 5%;
}
.skillSet__bottom-title {
  text-align: center;
}
.skillSet__bottom-body {
  background: url(res/img/nonformal/skillBG.png) no-repeat center;
  background-size: 100%;
  width: 100%;
  justify-content: space-around;
}
@media (max-width: 480px) {
  .skillSet__bottom-body {
    width: 90%;
    margin: 0 auto;
  }
}
.skillSet__bottom-body_box {
  width: 200px;
  text-align: center;
}
.skillSet__bottom-body_box h4 {
  position: absolute;
}
@media (max-width: 480px) {
  .skillSet__bottom-body_box:nth-child(1) {
    margin-bottom: 30%;
    margin-left: 10%;
  }
}
.skillSet__bottom-body_box:nth-child(2) {
  margin-top: 15%;
}
@media (max-width: 480px) {
  .skillSet__bottom-body_box:nth-child(2) {
    margin-top: 35%;
  }
}
@media (max-width: 480px) {
  .skillSet__bottom-body_box:nth-child(3) {
    margin-top: 5%;
    margin-right: 20%;
  }
}
.skillSet__bottom-body_box:nth-child(4) {
  margin-bottom: 15%;
}
.skillSet__bottom-body_box:nth-child(5) {
  margin-right: 5%;
}
@media (max-width: 480px) {
  .skillSet__bottom-body_box:nth-child(5) {
    margin-bottom: 40%;
  }
}
.skillSet__bottom-body_box:nth-child(6) {
  margin-top: 15%;
}
@media (max-width: 480px) {
  .skillSet__bottom-body_box:nth-child(6) {
    margin-top: 25%;
    margin-right: 10%;
  }
}
@media (max-width: 480px) {
  .skillSet__bottom-body_box:nth-child(7) {
    margin-bottom: 15%;
    margin-right: 10%;
  }
}

.marsPackage__title {
  width: 70vw;
}
.marsPackage__body {
  width: 100%;
  justify-content: space-around;
}
@media (max-width: 1024px) {
  .marsPackage__body {
    flex-direction: column !important;
    align-items: center;
  }
}
@media (max-width: 767px) {
  .marsPackage__body {
    flex-wrap: wrap;
    flex-direction: unset !important;
  }
}
.marsPackage__body-box {
  position: relative;
  width: 30%;
  max-width: 500px;
  height: 200px;
}
@media (max-width: 1024px) {
  .marsPackage__body-box {
    margin-bottom: 2%;
    height: unset;
    width: 40%;
    min-width: 240px;
  }
  .marsPackage__body-box:first-child {
    margin-right: 50%;
  }
  .marsPackage__body-box:last-child {
    margin-left: 50%;
  }
}
@media (max-width: 767px) {
  .marsPackage__body-box:first-child {
    margin-right: unset;
  }
  .marsPackage__body-box:last-child {
    margin-left: unset;
  }
}
.marsPackage__body-box img {
  position: absolute;
}
@media (max-width: 1024px) {
  .marsPackage__body-box img {
    position: unset;
    width: 40%;
    padding: 1rem;
  }
}
.marsPackage__body-box h4 {
  padding: 1rem;
}
.marsPackage__body-box .imgIdea {
  margin-right: 100%;
}
@media (max-width: 1024px) {
  .marsPackage__body-box .imgIdea {
    margin-right: unset;
  }
}
.marsPackage__body-box .imgBoard {
  margin-right: 80%;
  margin-top: 170px;
}
@media (max-width: 1024px) {
  .marsPackage__body-box .imgBoard {
    margin-right: unset;
    margin-top: unset;
  }
}
.marsPackage__body-box .imgCertificate {
  margin-left: 90%;
  margin-top: 170px;
}
@media (max-width: 1024px) {
  .marsPackage__body-box .imgCertificate {
    margin-left: unset;
    margin-top: unset;
  }
}

.bg123,
.bg5,
.bgAB,
.bgC {
  position: absolute;
  width: 50%;
}

.bg5 {
  right: 20%;
  bottom: 20%;
}

.bgAB {
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.bgC {
  top: 20%;
  right: 0;
}

.projectsLeft {
  position: relative;
}
@media (max-width: 1024px) {
  .projectsLeft {
    margin: 5% 0 10% 0 !important;
  }
}
@media (max-width: 480px) {
  .projectsLeft {
    padding: 0 !important;
    margin: 5% 0 10% 0 !important;
  }
}
.projectsLeft h2 {
  margin-bottom: 5%;
}
@media (max-width: 480px) {
  .projectsLeft h2 {
    justify-content: flex-start;
    margin-left: 5%;
  }
}
@media (max-width: 480px) {
  .projectsLeft h3 {
    font-size: 1.75rem;
    font-weight: 500;
  }
}
.projectsLeft .right {
  right: 57%;
}
.projectsLeft__main-title {
  align-items: center;
  width: 40%;
  margin-left: 2%;
  padding-bottom: 2%;
}
@media (max-width: 1024px) {
  .projectsLeft__main-title {
    width: 60%;
  }
}
@media (max-width: 480px) {
  .projectsLeft__main-title {
    justify-content: center;
    width: 100%;
    padding: 0 5% 2% 5%;
    text-align: center;
  }
}
.projectsLeft__main-title .skewb {
  width: 75%;
  padding-bottom: 10px;
}
@media (max-width: 1024px) {
  .projectsLeft__main-title .skewb {
    padding-bottom: 7px;
  }
}
@media (max-width: 480px) {
  .projectsLeft__main-title .skewb {
    width: 100%;
    padding-bottom: unset;
  }
}
.projectsLeft__main-title_img {
  justify-content: flex-start;
  align-items: center;
  max-width: 150px;
  text-align: center;
  padding: 0 15% 0 0;
}
@media (max-width: 480px) {
  .projectsLeft__main-title_img {
    justify-content: space-between;
  }
}
.projectsLeft__main-title_img img {
  width: 100%;
}
@media (max-width: 480px) {
  .projectsLeft__main-title_img img {
    width: 90%;
  }
}
@media (max-width: 480px) {
  .projectsLeft__main-title_imgWrapper {
    position: absolute;
    bottom: -85px;
  }
}
.projectsLeft__main-body {
  position: relative;
  width: 50%;
}
@media (max-width: 1024px) {
  .projectsLeft__main-body {
    width: 70%;
  }
}
@media (max-width: 480px) {
  .projectsLeft__main-body {
    width: 100%;
    height: 190vw;
  }
}
@media (max-width: 480px) {
  .projectsLeft__main-body .splide {
    margin-top: 78%;
  }
}
@media (max-width: 480px) {
  .projectsLeft__main-body .splide03 {
    margin-top: 70%;
  }
}
.projectsLeft__main-body img {
  width: 100%;
}
.projectsLeft__aside {
  position: absolute;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  height: 83%;
  right: 30%;
  bottom: 0;
}
@media (max-width: 1024px) {
  .projectsLeft__aside {
    right: 6%;
  }
}
@media (max-width: 767px) {
  .projectsLeft__aside {
    right: 5%;
  }
}
@media (max-width: 480px) {
  .projectsLeft__aside {
    top: 100px;
    right: 0;
    left: 0;
    margin: 0 auto;
    height: unset !important;
  }
}
.projectsLeft__aside-card {
  align-items: center;
  width: 20vw;
  min-height: 23%;
}
@media (max-width: 480px) {
  .projectsLeft__aside-card:nth-child(2) {
    position: relative;
    bottom: 8%;
  }
}
@media (max-width: 480px) {
  .projectsLeft__aside-card:nth-child(3) {
    position: relative;
    top: 8%;
  }
}
@media (max-width: 1024px) {
  .projectsLeft__aside-card {
    width: 25vw;
  }
}
@media (max-width: 767px) {
  .projectsLeft__aside-card {
    width: 30vw;
  }
}
@media (max-width: 480px) {
  .projectsLeft__aside-card {
    min-height: 25vw;
    width: 80vw;
  }
}

.projectsRight {
  position: relative;
}
@media (max-width: 1024px) {
  .projectsRight {
    margin: 5% 0 10% 0 !important;
  }
}
@media (max-width: 480px) {
  .projectsRight {
    padding: 0 !important;
    width: 100% !important;
    margin: 120px 0 10% 0 !important;
  }
}
.projectsRight .paginator__wrapper {
  width: 50%;
  padding-left: 7%;
  text-align: start;
}
@media (max-width: 1024px) {
  .projectsRight {
    width: 75%;
  }
}
.projectsRight h2 {
  margin-bottom: 5%;
}
.projectsRight .right {
  width: 100%;
}
.projectsRight__main-title {
  justify-content: flex-end;
  width: 100%;
  padding-bottom: 2%;
}
@media (max-width: 1024px) {
  .projectsRight__main-title {
    width: 100%;
    margin-left: 42%;
  }
}
@media (max-width: 480px) {
  .projectsRight__main-title {
    padding: 0 5% 2% 5%;
    text-align: center;
    margin-left: unset;
  }
}
.projectsRight__main-title_wrapper {
  justify-content: space-between;
  align-items: center;
  width: 40%;
  margin-right: 2%;
}
@media (max-width: 1024px) {
  .projectsRight__main-title_wrapper {
    width: 80%;
    margin-right: 10%;
  }
}
@media (max-width: 767px) {
  .projectsRight__main-title_wrapper {
    margin-right: unset;
  }
}
@media (max-width: 480px) {
  .projectsRight__main-title_wrapper {
    width: 100%;
    margin-right: unset;
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .projectsRight__main-title_wrapper h3 {
    font-size: 1.75rem;
    font-weight: 500;
  }
}
.projectsRight__main-title .skewb {
  width: 75%;
  padding-bottom: 10px;
}
.projectsRight__main-title_img {
  justify-content: flex-start;
  align-items: center;
  max-width: 150px;
  text-align: center;
  padding: 0 15% 0 0;
}
.projectsRight__main-title_img h3 {
  width: 70%;
}
.projectsRight__main-title_img img {
  width: 100%;
}
@media (max-width: 480px) {
  .projectsRight__main-title_imgWrapper {
    position: absolute;
    bottom: -85px;
  }
}
.projectsRight__main-body {
  position: relative;
  justify-content: flex-end;
  width: 50% !important;
  margin-left: 50%;
}
@media (max-width: 1024px) {
  .projectsRight__main-body {
    width: 100% !important;
    margin-left: 43%;
  }
}
@media (max-width: 480px) {
  .projectsRight__main-body {
    height: 190vw;
    margin-left: unset;
  }
}
.projectsRight__main-body_wrapper {
  width: 100%;
}
.projectsRight__main-body img {
  width: 100%;
}
@media (max-width: 480px) {
  .projectsRight__main-body .splide02 {
    margin-top: 72%;
  }
}
.projectsRight__aside {
  position: absolute;
  justify-content: space-between;
  align-items: center;
  left: 30%;
  width: 30%;
  height: 100%;
  bottom: 0;
}
@media (max-width: 1024px) {
  .projectsRight__aside {
    left: 18%;
  }
}
@media (max-width: 480px) {
  .projectsRight__aside {
    top: 55px;
    right: 0;
    left: 0;
    margin: 0 auto;
    height: unset;
  }
}
.projectsRight__aside-card {
  align-items: center;
  width: 20vw;
  min-height: 23%;
}
@media (max-width: 1024px) {
  .projectsRight__aside-card {
    width: 25vw;
  }
}
@media (max-width: 767px) {
  .projectsRight__aside-card {
    width: 30vw;
  }
}
@media (max-width: 480px) {
  .projectsRight__aside-card:nth-child(2) {
    position: relative;
    bottom: 8%;
  }
}
@media (max-width: 480px) {
  .projectsRight__aside-card:nth-child(3) {
    position: relative;
    top: 8%;
  }
}
@media (max-width: 480px) {
  .projectsRight__aside-card {
    min-height: 30vw;
    width: 80vw;
  }
}

@media (max-width: 480px) {
  .projectsExtraR {
    padding: 0 !important;
    width: 100% !important;
  }
}
.projectsExtraR .paginator__wrapper {
  width: 50%;
  padding-left: 7%;
  text-align: start;
}
.projectsExtraR h2 {
  margin: unset;
}
@media (max-width: 480px) {
  .projectsExtraR h2 {
    justify-content: flex-start;
    margin-left: 5%;
  }
}
.projectsExtraR .right {
  width: 100%;
}
.projectsExtraR__main {
  position: relative;
}
.projectsExtraR__main-body {
  position: relative;
  margin-left: 50%;
  padding-bottom: 50px;
}
.projectsExtraR__main-title {
  justify-content: flex-end;
  width: 100%;
  padding-bottom: 2%;
}
@media (max-width: 480px) {
  .projectsExtraR__main-title {
    padding: 0 5% 2% 5%;
    text-align: center;
  }
}
.projectsExtraR__main-title_wrapper {
  justify-content: space-between;
  align-items: center;
  width: 45%;
  margin-right: 2%;
}
@media (max-width: 1024px) {
  .projectsExtraR__main-title_wrapper {
    width: 55%;
  }
}
@media (max-width: 767px) {
  .projectsExtraR__main-title_wrapper {
    margin-right: unset;
  }
}
@media (max-width: 480px) {
  .projectsExtraR__main-title_wrapper {
    width: 100%;
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .projectsExtraR__main-title_wrapper h3 {
    font-size: 1.75rem;
    font-weight: 500;
  }
}
.projectsExtraR__main-title .skewb {
  width: 75%;
  padding-bottom: 10px;
}
.projectsExtraR__main-title_img {
  justify-content: flex-start;
  align-items: center;
  max-width: 150px;
  text-align: center;
  padding: 0 15% 0 0;
}
.projectsExtraR__main-title_img h3 {
  width: 70%;
}
.projectsExtraR__main-title_img img {
  width: 100%;
}
.projectsExtraR__main-body {
  width: 50% !important;
  margin-left: 50%;
}
@media (max-width: 1024px) {
  .projectsExtraR__main-body {
    width: 70% !important;
    margin-left: 38%;
  }
}
@media (max-width: 480px) {
  .projectsExtraR__main-body {
    height: 225vw;
    width: 100% !important;
    margin-left: unset;
  }
}
.projectsExtraR__main-body_wrapper {
  width: 100%;
}
.projectsExtraR__main-body img {
  width: 100%;
}
@media (max-width: 480px) {
  .projectsExtraR__main-body .splide04 {
    margin-top: 75%;
  }
}
@media (max-width: 480px) {
  .projectsExtraR__main-body .splide06 {
    margin-top: 68%;
  }
}
.projectsExtraR__aside {
  position: absolute;
  justify-content: space-between;
  align-items: center;
  left: 25%;
  width: 30%;
  height: 90%;
  bottom: 4.2%;
}
@media (max-width: 1024px) {
  .projectsExtraR__aside {
    left: 13%;
  }
}
@media (max-width: 480px) {
  .projectsExtraR__aside {
    top: 55px;
    right: 0;
    left: 0;
    margin: 0 auto;
    height: unset;
  }
}
.projectsExtraR__aside-card {
  align-items: center;
  width: 20vw;
  min-height: 17%;
}
@media (max-width: 1024px) {
  .projectsExtraR__aside-card {
    width: 25vw;
  }
}
@media (max-width: 767px) {
  .projectsExtraR__aside-card {
    width: 30vw;
  }
}
@media (max-width: 480px) {
  .projectsExtraR__aside-card:nth-child(2) {
    position: relative;
    bottom: 6%;
  }
}
@media (max-width: 480px) {
  .projectsExtraR__aside-card:nth-child(3) {
    position: relative;
    top: 11%;
  }
}
@media (max-width: 480px) {
  .projectsExtraR__aside-card:nth-child(4) {
    position: relative;
    top: 5.5%;
  }
}
@media (max-width: 480px) {
  .projectsExtraR__aside-card {
    min-height: unset;
    width: 80vw;
  }
}
.projectsExtraR__aside-card_text-wrapper {
  align-items: center;
}
.projectsExtraR__aside-card_text-wrapper img {
  width: 11%;
  margin-left: 5%;
}
.projectsExtraR__sponsorship {
  justify-content: space-between;
  margin: 2% 0 0 50%;
}
@media (max-width: 1500px) {
  .projectsExtraR__sponsorship {
    flex-direction: column !important;
    justify-content: center;
  }
}
@media (max-width: 1024px) {
  .projectsExtraR__sponsorship {
    margin: 2% 5% 0 40%;
  }
}
@media (max-width: 767px) {
  .projectsExtraR__sponsorship {
    margin: 2% 5% 0 45%;
  }
}
@media (max-width: 480px) {
  .projectsExtraR__sponsorship {
    flex-direction: column-reverse !important;
    margin: unset;
  }
}
.projectsExtraR__sponsorship img {
  max-height: 70px;
}
@media (max-width: 480px) {
  .projectsExtraR__sponsorship img {
    max-height: 57px;
    max-width: 80px;
    margin: auto;
  }
}
.projectsExtraR__sponsorship-container {
  justify-content: space-between;
  text-align: center;
}
@media (max-width: 1500px) {
  .projectsExtraR__sponsorship-container {
    justify-content: flex-start;
  }
}
@media (max-width: 480px) {
  .projectsExtraR__sponsorship-container {
    position: absolute;
    justify-content: center;
    bottom: -50px;
    left: 0;
    right: 0;
    width: 80%;
    margin: 0 auto;
  }
}
.projectsExtraR__sponsorship-container_brand {
  justify-content: space-between;
  align-items: center;
  margin-left: 5%;
}
@media (max-width: 480px) {
  .projectsExtraR__sponsorship-container_brand {
    margin-left: unset;
    padding: 0 2%;
  }
}
.projectsExtraR__sponsorship-info {
  justify-content: center;
  align-items: center;
  padding: 0 5vw;
}
@media (max-width: 1500px) {
  .projectsExtraR__sponsorship-info {
    justify-content: flex-start;
    margin-top: 10px;
  }
}
@media (max-width: 480px) {
  .projectsExtraR__sponsorship-info {
    justify-content: flex-end;
    margin-right: 10%;
  }
}

.spacer {
  margin-top: 160px;
}

.spacer2 {
  margin-top: 90px;
}

.spacer3 {
  margin-top: 115px;
}

@media (max-width: 480px) {
  .projectsExtraL {
    padding: 0 !important;
    width: 100% !important;
    margin: 5% 0 15% 0 !important;
    margin: 100px 0 15% 0 !important;
  }
}
.projectsExtraL h2 {
  margin-bottom: 5%;
}
.projectsExtraL .right {
  right: 57%;
}
.projectsExtraL__main {
  position: relative;
}
.projectsExtraL__main-title {
  align-items: center;
  width: 40%;
  margin-left: 2%;
  padding-bottom: 2%;
}
@media (max-width: 480px) {
  .projectsExtraL__main-title {
    justify-content: center;
    width: 100%;
    margin-left: unset;
  }
}
.projectsExtraL__main-title .skewb {
  width: 75%;
  padding-bottom: 10px;
}
.projectsExtraL__main-title_img {
  justify-content: flex-start;
  align-items: center;
  max-width: 150px;
  text-align: center;
  padding: 0 15% 0 0;
}
.projectsExtraL__main-title_img img {
  width: 100%;
}
@media (max-width: 1024px) {
  .projectsExtraL__main-title_img img {
    width: 70%;
  }
}
@media (max-width: 480px) {
  .projectsExtraL__main-title h3 {
    font-size: 1.75rem;
    font-weight: 500;
  }
}
.projectsExtraL__main-body {
  position: relative;
  width: 50%;
  padding-bottom: 50px;
}
@media (max-width: 1024px) {
  .projectsExtraL__main-body {
    width: 70%;
  }
}
@media (max-width: 480px) {
  .projectsExtraL__main-body {
    height: 200vw;
    width: 100% !important;
    margin-left: unset;
  }
}
.projectsExtraL__main-body img {
  width: 100%;
}
@media (max-width: 480px) {
  .projectsExtraL__main-body .splide05 {
    margin-top: 63%;
  }
}
.projectsExtraL__aside {
  position: absolute;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  height: 83%;
  right: 30%;
  bottom: 0;
}
@media (max-width: 1024px) {
  .projectsExtraL__aside {
    right: 5%;
  }
}
@media (max-width: 767px) {
  .projectsExtraL__aside {
    right: 2%;
  }
}
@media (max-width: 480px) {
  .projectsExtraL__aside {
    top: 5%;
    right: 0;
    left: 0;
    margin: 0 auto;
    height: unset;
  }
}
.projectsExtraL__aside-card {
  align-items: center;
  width: 20vw;
  min-height: 17%;
}
@media (max-width: 1024px) {
  .projectsExtraL__aside-card {
    width: 25vw;
  }
}
@media (max-width: 767px) {
  .projectsExtraL__aside-card {
    width: 30vw;
  }
}
@media (max-width: 480px) {
  .projectsExtraL__aside-card:nth-child(2) {
    position: relative;
    bottom: 5%;
  }
}
@media (max-width: 480px) {
  .projectsExtraL__aside-card:nth-child(3) {
    position: relative;
    top: 10%;
  }
}
@media (max-width: 480px) {
  .projectsExtraL__aside-card:nth-child(4) {
    position: relative;
    top: 5%;
  }
}
@media (max-width: 480px) {
  .projectsExtraL__aside-card {
    min-height: unset;
    width: 80vw;
  }
}
.projectsExtraL__aside-card_text-wrapper {
  align-items: center;
}
.projectsExtraL__aside-card_text-wrapper img {
  width: 10%;
  margin-left: 5%;
}
.projectsExtraL__sponsorship {
  justify-content: space-between;
  margin: 2% 57% 0 0;
  flex-direction: row-reverse !important;
}
@media (max-width: 1500px) {
  .projectsExtraL__sponsorship {
    flex-direction: column !important;
    justify-content: center;
  }
}
@media (max-width: 1024px) {
  .projectsExtraL__sponsorship {
    margin: 2% 33% 0 0;
  }
}
@media (max-width: 767px) {
  .projectsExtraL__sponsorship {
    margin: 2% 35% 0 0;
  }
}
@media (max-width: 480px) {
  .projectsExtraL__sponsorship {
    flex-direction: column-reverse !important;
    position: absolute;
    bottom: -135px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
.projectsExtraL__sponsorship img {
  width: 100%;
}
@media (max-width: 1024px) {
  .projectsExtraL__sponsorship img {
    width: 70%;
  }
}
.projectsExtraL__sponsorship-container {
  justify-content: space-between;
  text-align: center;
}
@media (max-width: 1500px) {
  .projectsExtraL__sponsorship-container {
    justify-content: flex-end;
  }
}
@media (max-width: 480px) {
  .projectsExtraL__sponsorship-container {
    justify-content: center;
    margin-top: 15px;
    margin-right: 10%;
  }
}
.projectsExtraL__sponsorship-container_brand {
  justify-content: space-between;
  align-items: center;
  margin-left: 5%;
}
@media (max-width: 480px) {
  .projectsExtraL__sponsorship-container_brand {
    margin-left: unset;
  }
}
.projectsExtraL__sponsorship-info {
  justify-content: center;
  align-items: center;
  padding: 0 5vw;
}
@media (max-width: 1500px) {
  .projectsExtraL__sponsorship-info {
    justify-content: flex-end;
    margin-top: 10px;
  }
}
@media (max-width: 480px) {
  .projectsExtraL__sponsorship-info {
    margin-right: 10%;
  }
}

.news {
  position: relative;
}
.news__background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40vh;
  min-height: 400px;
  z-index: -1;
}
@media (max-width: 1500px) {
  .news__title {
    align-items: center !important;
  }
}
.news__title * {
  padding-bottom: 1%;
}
.news__title-container {
  margin-right: 10%;
}
@media (max-width: 1500px) {
  .news__title-container {
    margin: 5% 0 0 0;
  }
}
.news__body {
  flex-wrap: nowrap;
  justify-content: space-between;
}
@media (max-width: 1500px) {
  .news__body {
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
.news__body-card {
  position: relative;
  margin: 2rem;
  min-height: 20vw;
  width: 20%;
}
.news__body-card_image {
  flex: 5;
}
.news__body-card_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.news__body-card_text {
  flex: 1;
  padding: 1rem;
}
.news__body-card_tag {
  position: absolute;
  right: 0;
  top: 10%;
  min-height: 2vw;
  width: 40%;
}

.intersection {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 15%;
  margin-top: -7%;
}
@media (max-width: 1500px) {
  .intersection {
    position: unset;
    margin-left: unset;
    margin: 10px 0;
  }
}
.intersection__selections {
  padding: 3rem;
}
@media (max-width: 1500px) {
  .intersection__selections {
    padding: 1rem;
  }
}
@media (max-width: 1500px) {
  .intersection__selections ul {
    display: flex;
  }
}
.intersection__selections button {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1.5rem 0;
  background: transparent;
}
.intersection__selections button img {
  padding-right: 5px;
}
@media (max-width: 1500px) {
  .intersection__selections button {
    margin-left: 1.5rem;
  }
}

.news__background {
  background-color: #a3c1f6;
}
.news__body-card {
  background-color: #eaf2ff;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.news__body-card_text {
  text-align: center;
}
.news__body-card_tag {
  background-color: #a3c1f6;
}

.intersection .active {
  transform: scale(1.2);
}
.intersection .active h5 {
  font-weight: 500 !important;
}
.intersection__selections {
  background-color: #eaf2ff;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.filterEl {
  display: none !important;
}

.show {
  display: flex !important;
}/*# sourceMappingURL=news.css.map */