<!-- A modal dialog containing a form -->
<div
  id="downloadFormDialog"
  style="position: fixed; width: 100%; height: 100%; z-index: 10"
>
  <!-- Setting z-index seems hacky but it works for now -->
  <div
    id="downloadFormBackground"
    style="background-color: #000000aa; width: 100%; height: 100%"
  ></div>
  <section
    style="
      display: flex;
      width: 80%;
      max-width: max-content;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    "
  >
    <div
      style="
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        align-items: center;
        justify-content: center;
        max-width: 800px;
      "
    >
      <div
        style="
          min-height: 260px;
          padding: 2rem;
          border-radius: 10px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
            rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          background-color: #ffffff;
        "
      >
        <div
          style="
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          "
        >
          <div style="display: flex; justify-content: center">
            <h2
              class="element"
              data="sample.downloadForm.title"
              style="margin-top: 0; font-weight: 400; padding: 1.2rem 0"
            >
              Lesson download form
            </h2>
          </div>
          <div>
            <h4
              class="element"
              data="sample.downloadForm.instructions"
              style="font-weight: 300; margin-bottom: 10px"
            >
              Receive the lesson package to your email!
            </h4>
          </div>

          <ul style="padding: 1rem 0; list-style-type: disc; margin-left: 30px">
            <li class="element" data="sample.downloadForm.notes.0">
              The lesson package is designed in a way that the teacher can
              conduct the lesson for the class on his own.
            </li>
            <li class="element" data="sample.downloadForm.notes.1">
              The lesson package includes: program installation instructions,
              lesson plan and preparation files, virtual lesson world file.
            </li>
            <li class="element" data="sample.downloadForm.notes.2">
              SUBSCRIBE TO THE NEWSLETTER IS NOT NECESSARY, you can download
              this lesson pack by entering your email. below
            </li>
          </ul>

          <div style="padding-bottom: 1rem">
            <div
              style="
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding-bottom: 5px;
              "
            >
              <input
                style="
                  height: 30px;
                  width: 100%;
                  max-width: 265px;
                  padding-left: 5px;
                  border: 2px solid #aaa;
                  border-radius: 4px;
                  box-sizing: border-box;
                  outline: none;
                  font-weight: 400;
                  transition: 0.3s;
                  margin: auto;
                "
                id="email"
                type="email"
                placeholder="el.paštas@gmail.com"
                size="30"
                required
                autocomplete="off"
              />
              <span
                id="valid-required"
                class="valid-error element"
                style="padding-top: 5px; margin: auto"
                data="sample.downloadForm.error.0"
                >Ši reikšmė negali būti tuščia.</span
              >
              <span
                id="valid-symbols"
                class="valid-error element"
                style="padding-top: 5px; margin: auto"
                data="sample.downloadForm.error.1"
                >Negalima naudoti (<b>“‘/$&\;</b>)</span
              >
            </div>
            <div
              style="
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                margin: 5px 0;
              "
            ></div>
            <div
              class="checkbox"
              style="justify-content: center; padding-bottom: 1rem"
            >
              <div class="checkbox-container">
                <input id="checkbox" type="checkbox" />
                <h6
                  data="sample.downloadForm.newsletter"
                  class="element checkbox-txt"
                  style="padding: 0 3px"
                >
                  I agree to signup for newsletter
                </h6>
              </div>
            </div>
            <h6>
              <span class="element" data="sample.downloadForm.notes.3">
                By downloading the lesson package, you agree that your email
                adress will be registered for statistical and feedback gathering
                purposes. More about this:
              </span>
              <a
                class="element"
                data="sample.downloadForm.notes.4"
                href="./privacy-policy.html"
                style="font-weight: 400 !important; font-size: 16px"
              >
                Privacy Policy
              </a>
              <span class="element" data="sample.downloadForm.notes.5">
                and
              </span>
              <a
                class="element"
                data="sample.downloadForm.notes.6"
                href="./cookies-policy.html"
                style="font-weight: 400 !important; font-size: 16px"
              >
                Cookie Policy
              </a>
            </h6>
          </div>
          <div
            style="display: flex; justify-content: center; align-items: center"
          >
            <button
              id="downloadSubmitButton"
              style="
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                width: 200px;
                height: 40px;
                background: #ff5722;
                border: none;
                outline: none;
                border-radius: 5px;
              "
            >
              <h3
                class="element"
                data="sample.downloadForm.send"
                style="font-size: 1rem; font-weight: 400; color: white"
              >
                Send
              </h3>
            </button>
          </div>
        </div>
        <div
          id="successOverlay"
          style="
            position: absolute;
            display: none;
            margin: 0;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.3);
          "
        >
          <div
            style="
              background: white;
              position: absolute;
              width: 100%;
              display: block;
              margin: 0;
              top: 50%;
              left: 50%;
              -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
              box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
                rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
            "
          >
            <h2 style="padding: 3rem">Sent!</h2>
          </div>
        </div>
        <div
          id="failOverlay"
          style="
            position: absolute;
            display: none;
            margin: 0;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.3);
          "
        >
          <div
            style="
              background: rgb(255, 195, 181);
              position: absolute;
              width: 100%;
              display: block;
              margin: 0;
              top: 50%;
              left: 50%;
              -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
              box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
                rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
            "
          >
            <h2
              style="padding: 3rem"
              class="element"
              data="sample.downloadForm.error.2"
            >
              Something went wrong 🤕
            </h2>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
