<footer class="footer flex-column side-padding">
  <div class="container flex-row">
    <div class="container__contact flex-row">
      <div class="container__contact-wrapper">
        <h3 class="element" data="footer.contact.main">Contacts</h3>
        <h5 class="sub1 flex-row"><img src="./res/img/header_footer/phone.png" alt="phone icon"><a
            href="tel:+370 (602) 91 919">+370
            (602) 91
            919</a></h5>
        <h5 class="sub2 flex-row"><img src="./res/img/header_footer/mail.png" alt="mail icon">info@tryskubai.lt
        </h5>
        <h5 class="sub3 flex-row"><img src="./res/img/header_footer/pin.png" alt="location icon"><a
            href="htthp://mahps.google.com/?q=Žalgirio g. 88, LT-09301, Vilnius">Žalgirio g. 88,
            LT-09301, Vilnius</a>
        </h5>
      </div>
      <!-- <div class="container__left-info"> -->
      <!-- <h3 class="element" data="footer.info.main">Information</h3>
        <h5 class="sub1"><a href="" class="element" data="footer.info.knowHow">How to become a partner?</a></h5>
        <h5 class="sub2"><a href="" class="element" data="footer.info.privacy">Privacy Policy</a></h5>
        <h5 class="sub3"><a href="" class="element" data="footer.info.carrer">Career</a>
        </h5> -->
      <!-- </div> -->
    </div>
    <div class="container__newsletter">
      <div class="container__newsletter-wrapper">
        <h3 class="element" data="footer.subs.main">Newsletters</h3>
        <h5 class="sub1 element" data="footer.subs.desc">Be the first to get all news!</h5>
        <div class="container__newsletter-wrapper_input">
          <!-- <input class="email" type="email" placeholder="El.paštas"> -->
          <button id="subscribe">
            <a class="subscribeBtn" href="javascript:;">
              <h5 class="element" data="footer.subs.btn">Subscribe</h5>
            </a>
          </button>
        </div>
        <!-- <div class="container__newsletter-wrapper_privacy flex-row"> -->
        <!-- <input class="flex-row" type="checkbox">
          <h5 class="flex-row text element" data="footer.subs.checkBox">I agree to privacy policy.</h5> -->
        <!-- </div> -->
      </div>
    </div>
    <div class="container__follow flex">
      <div class="container__follow-wrapper">
        <h3 class="element" data="footer.follow.main">Follow Us</h3>
        <div class="container__follow-wrapper_linksContainer">
          <button class="transparent side-gap5" id="redirectFB" class="container__follow-wrapper_facebook"><a
              href="https://www.facebook.com/threecubesEN/" target="_blank"><img
                src="./res/img/header_footer/facebook.png" alt="facebook"></a></button>
          <button class="transparent side-gap5" id="redirectLIn" class="container__follow-wrapper_linkedin"><a
              href="https://www.linkedin.com/company/three-cubes/" target="_blank"><img
                src="./res/img/header_footer/linkedin.png" alt="linkedin"></a></button>
          <button class="transparent side-gap5" id="redirectIG"><a href="https://www.instagram.com/threecubescompany/"
              target="_blank"><img src="./res/img/header_footer/instagram.png" alt="instagram"></a></button>
          <button class="transparent side-gap5" id="redirectYT"><a
              href="https://www.youtube.com/channel/UCSn6CIVI84aCMJabe7ypWeg" target="_blank"><img
                src="./res/img/header_footer/YT.png" alt="youtube"></a></button>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright flex center">
    <h5 class="flex-row text element" data="footer.subs.cc">&copy;2022 "Edukraftas". All rights reserved.</h5>
  </div>
</footer>