<div class="popup" id="gdprPopup">
    <div class="popup__container">
        <div class="popup__container-bar">
            <div class="popup__container-bar_title">
                <h5 class="element" data="gdpr.title">We value your privacy</h5>
            </div>
            <div class="popup__container-bar_noticeGroup flex-row">
                <div class="popup__container-bar_noticeGroup-desc">
                    <h6 class="element" data="gdpr.desc">We use cookies to enhance your browsing experience and analyze
                        our
                        traffic. By clicking "Accept all",
                        you consent to our use of cookies.</h6>
                </div>
                <div class="popup__container-bar_noticeGroup-btnWrapper flex-row">
                    <button class="popup__container-bar_noticeGroup-btnWrapper-customize btn outlined element"
                        data="gdpr.customize" id="customizeBtn">Customize</button>
                    <button class="popup__container-bar_noticeGroup-btnWrapper-rejectAll btn outlined element"
                        data="gdpr.reject" id="rejectBtn">Reject all</button>
                    <button class="popup__container-bar_noticeGroup-btnWrapper-acceptAll btn solid element"
                        data="gdpr.accept" id="acceptBtn">Accept all</button>
                </div>
            </div>
        </div>
        <!-- CUSTOMIZE PREFERENCE section -->
        <div class="popup__container-preference" id="preferenceContainer">
            <div class="popup__container-preference_header">
                <div class="popup__container-preference_header-title">
                    <h5 class="element" data="gdpr.preference.title">Customize Consent Preferences</h5>
                </div>
                <div class="popup__container-preference_header-desc">
                    <h6 class="element" data="gdpr.preference.desc1">We use cookies to help you navigate efficiently and
                        perform
                        certain functions. You will find detailed
                        information about all cookies under each consent category below.
                    </h6>
                    <h6 class="element" data="gdpr.preference.desc2">
                        The cookies that are categorized as "Necessary" are stored on your browser as they are essential
                        for
                        enabling the basic functionalities of the site</h6>
                </div>
            </div>
            <div class="popup__container-preference_body">
                <div class="popup__container-preference_body-wrapper">
                    <!-- NECESSARY cookies -->
                    <div class="popup__container-preference_body-wrapper_accordion top-bottom-border">
                        <div class="popup__container-preference_body-wrapper_accordion-item flex-row">
                            <button
                                class="popup__container-preference_body-wrapper_accordion-item_chevron expansion-triggering-element"
                                id="necessary"></button>
                            <div
                                class="popup__container-preference_body-wrapper_accordion-item_headerWrapper flex-column">
                                <div
                                    class="popup__container-preference_body-wrapper_accordion-item_headerWrapper-header flex-row">
                                    <button
                                        class="popup__container-preference_body-wrapper_accordion-item_headerWrapper-header_title expansion-triggering-element element"
                                        data="gdpr.necessary.title" id="necessary">
                                        Necessary
                                    </button>
                                    <span class="always-active element" data="gdpr.necessary.span">Always Active</span>
                                </div>
                                <div class="popup__container-preference_body-wrapper_accordion-item_headerWrapper-desc element"
                                    data="gdpr.necessary.desc">
                                    Necessary cookies are required to enable the basic features of this site, such as
                                    providing secure
                                    log-in or adjusting your consent preferences. These cookies do not store any
                                    personally identifiable
                                    data.
                                </div>
                            </div>
                        </div>
                        <div class="popup__container-preference_body-wrapper_accordion-body" id="necessaryCookieTable">
                            <div class="popup__container-preference_body-wrapper_accordion-body_table">
                                <ul class="popup__container-preference_body-wrapper_accordion-body_table-item">
                                    <li>
                                        <div class="element" data="gdpr.cookie.title">Cookie</div>
                                        <div class="element" data="gdpr.cookie.lang">loc_lang</div>
                                    </li>
                                    <li>
                                        <div class="element" data="gdpr.duration.title">Duration</div>
                                        <div class="element" data="gdpr.duration.month">1 month</div>
                                    </li>
                                    <li>
                                        <div class="element" data="gdpr.info.title">Description</div>
                                        <div class="element" data="gdpr.info.lang">This site use this cookie to remember
                                            a user's language
                                            settings.</div>
                                    </li>
                                </ul>
                                <ul class="popup__container-preference_body-wrapper_accordion-body_table-item">
                                    <li>
                                        <div class="element" data="gdpr.cookie.title">Cookie</div>
                                        <div class="element" data="gdpr.cookie.github">No cookie</div>
                                    </li>
                                    <li>
                                        <div class="element" data="gdpr.duration.title">Duration</div>
                                        <div>N/A</div>
                                    </li>
                                    <li>
                                        <div class="element" data="gdpr.info.title">Description</div>
                                        <div class="element" data="gdpr.info.github">
                                            The websites host (GitHub Inc.) loggs and stores your IP adress. (<a
                                                href=\"https://docs.github.com/en/site-policy/privacy-policies/github-privacy-statement\">their
                                                privacy
                                                policy</a>).</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- FUNCTIONAL cookies -->
                    <!-- <div class="popup__container-preference_body-wrapper_accordion top-bottom-border">
                        <div class="popup__container-preference_body-wrapper_accordion-item flex-row">
                            <button
                                class="popup__container-preference_body-wrapper_accordion-item_chevron expansion-triggering-element"
                                id="functional"></button>
                            <div
                                class="popup__container-preference_body-wrapper_accordion-item_headerWrapper flex-column">
                                <div
                                    class="popup__container-preference_body-wrapper_accordion-item_headerWrapper-header flex-row">
                                    <button
                                        class="popup__container-preference_body-wrapper_accordion-item_headerWrapper-header_title expansion-triggering-element element"
                                        data="gdpr.functional.title" id="functional">
                                        Functional
                                    </button>
                                    <label class="switch">
                                        <input type="checkbox" id="functional" name="cookieGroupToggle">
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                                <div class="popup__container-preference_body-wrapper_accordion-item_headerWrapper-desc element"
                                    data="gdpr.functional.desc">
                                    Functional cookie help perform functionality of third-party feature.
                                </div>
                            </div>
                        </div>
                        <div class="popup__container-preference_body-wrapper_accordion-body" id="functionalCookieTable">
                            <div class="popup__container-preference_body-wrapper_accordion-body_table">
                                <ul class="popup__container-preference_body-wrapper_accordion-body_table-item">
                                    <li>
                                        <div class="element" data="gdpr.cookie.title">Cookie</div>
                                        <div class="element" data="gdpr.cookie.mailer">mailerlite:webform:shown</div>
                                    </li>
                                    <li>
                                        <div class="element" data="gdpr.duration.title">Duration</div>
                                        <div>&#8734;</div>
                                    </li>
                                    <li>
                                        <div class="element" data="gdpr.info.title">Description</div>
                                        <div class="element" data="gdpr.info.mailer">This site use this cookie to
                                            determine if a website
                                            visitor has
                                            seen newsletter pop-up or not,
                                            and whether or not to show the pop-up again according to your behavior
                                            settings.</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div> -->
                    <!-- ANALYTICS cookies -->
                    <div class="popup__container-preference_body-wrapper_accordion top-bottom-border">
                        <div class="popup__container-preference_body-wrapper_accordion-item flex-row">
                            <button
                                class="popup__container-preference_body-wrapper_accordion-item_chevron expansion-triggering-element"
                                id="analytical"></button>
                            <div
                                class="popup__container-preference_body-wrapper_accordion-item_headerWrapper flex-column">
                                <div
                                    class="popup__container-preference_body-wrapper_accordion-item_headerWrapper-header flex-row">
                                    <button
                                        class="popup__container-preference_body-wrapper_accordion-item_headerWrapper-header_title expansion-triggering-element element"
                                        data="gdpr.analytics.title" id="analytical">
                                        Analytics
                                    </button>
                                    <label class="switch">
                                        <input type="checkbox" id="analytical" name="cookieGroupToggle">
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                                <div class="popup__container-preference_body-wrapper_accordion-item_headerWrapper-desc element"
                                    data="gdpr.analytics.desc">
                                    Analytical cookies are used to understand how visitors interact with the website.
                                    These cookies help
                                    provide information on metrics such as the number of visitors, traffic source, etc.
                                </div>
                            </div>
                        </div>
                        <div class="popup__container-preference_body-wrapper_accordion-body" id="analyticalCookieTable">
                            <div class="popup__container-preference_body-wrapper_accordion-body_table">
                                <ul class="popup__container-preference_body-wrapper_accordion-body_table-item">
                                    <li>
                                        <div class="element" data="gdpr.cookie.title">Cookie</div>
                                        <div class="element" data="gdpr.cookie.ga">_ga</div>
                                    </li>
                                    <li>
                                        <div class="element" data="gdpr.duration.title">Duration</div>
                                        <div class="element" data="gdpr.duration.2y">2 years</div>
                                    </li>
                                    <li>
                                        <div class="element" data="gdpr.info.title">Description</div>
                                        <div class="element" data="gdpr.info.ga">The _ga cookie, installed by Google
                                            Analytics, calculates
                                            visitor, session, campaign data,
                                            and also keeps track of site usage for the site's analytics report. The
                                            cookie stores
                                            information anonymously and assigns a randomly generated number to recognize
                                            unique visitors..
                                        </div>
                                    </li>
                                </ul>
                                <ul class="popup__container-preference_body-wrapper_accordion-body_table-item">
                                    <li>
                                        <div class="element" data="gdpr.cookie.title">Cookie</div>
                                        <div class="element" data="gdpr.cookie.gaID">_ga_container-ID</div>
                                    </li>
                                    <li>
                                        <div class="element" data="gdpr.duration.title">Duration</div>
                                        <div class="element" data="gdpr.duration.2y">2 years</div>
                                    </li>
                                    <li>
                                        <div class="element" data="gdpr.info.title">Description</div>
                                        <div class="element" data="gdpr.info.gaID">The _ga_container-ID cookie,
                                            installed by Google
                                            Analytics is used to persist session state.
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- OVERLAY element -->
                <div class="fadeOver">
                    <div class="fadeOver__element"></div>
                </div>

            </div>
            <div class="popup__container-preference_body-btn">
                <button class="btn outlined element" id="saveMyPreference" data="gdpr.savePref"
                    onclick="saveConsent(this); consentOptions();">
                    Save My Preferences</button>
            </div>
        </div>
    </div>
</div>