<!-- A modal dialog containing a form -->
<div
  id="downloadFormDialog"
  style="position: fixed; width: 100%; height: 100%; z-index: 10"
>
  <!-- Setting z-index seems hacky but it works for now -->
  <div
    id="downloadFormBackground"
    style="background-color: #000000aa; width: 100%; height: 100%"
  ></div>
  <section
    style="
      display: flex;
      width: 80%;
      max-width: max-content;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    "
  >
    <div
      style="
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        align-items: center;
        justify-content: center;
        max-width: 800px;
      "
    >
      <div
        style="
          min-height: 260px;
          padding: 2rem;
          border-radius: 10px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
            rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          background-color: #ffffff;
        "
      >
        <div
          style="
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          "
        >
          <div style="display: flex; justify-content: center">
            <h2
              data="sample.downloadForm.title"
              style="margin-top: 0; font-weight: 400; padding: 1.2rem 0"
            >
              Pamokos paketas — dovanų!
            </h2>
          </div>
          <div>
            <h4
              data="sample.downloadForm.instructions"
              style="font-weight: 300; margin-bottom: 10px"
            >
              Prenumeruokite „Trys kubai“ naujienlaiškį ir gaukite savarankiškai
              vedamos pamokos paketą į el. paštą!
            </h4>
          </div>
          <ul style="padding: 1rem 0; list-style-type: disc; margin-left: 30px">
            <li>
              Pamokos paketas sukurtas taip, kad pedagogas klasei gali pats
              savarankiškai pravesti pamoką.
            </li>
            <li>
              Pamokos paketą sudaro: programų įrašymo instrukcijos, pamokos
              planas ir paruoštukė, virtualus pamokos pasaulis.
            </li>
            <li>
              Užprenumeravus naujienlaiškį, dovana — pamokos paketas —
              automatiškai atkeliaus į Jūsų nurodytą el. paštą.
            </li>
          </ul>

          <div style="padding-bottom: 1rem">
            <div
              style="
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding-bottom: 5px;
              "
            >
              <input
                style="
                  height: 30px;
                  width: 100%;
                  max-width: 265px;
                  padding-left: 5px;
                  border: 2px solid #aaa;
                  border-radius: 4px;
                  box-sizing: border-box;
                  outline: none;
                  font-weight: 400;
                  transition: 0.3s;
                  margin: auto;
                "
                id="email"
                type="email"
                placeholder="el.paštas@gmail.com"
                size="30"
                required
                autocomplete="off"
              />
              <span
                id="valid-required"
                class="valid-error"
                style="padding-top: 5px; margin: auto"
                >Ši reikšmė negali būti tuščia.</span
              >
              <span
                id="valid-symbols"
                class="valid-error"
                style="padding-top: 5px; margin: auto"
                >Negalima naudoti (<b>“‘/$&\;</b>)</span
              >
            </div>
            <div
              style="
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                margin: 5px 0;
              "
            ></div>
            <div class="checkbox">
              <div class="checkbox-container">
                <h6
                  data="sample.downloadForm.newsletter"
                  class="checkbox-txt"
                  style="padding-bottom: 1rem"
                >
                  Sutinku, kad nurodytu mano el. pašto adresu būtų siunčiami
                  naujienlaiškiai. Prenumeruodami naujienlaiškį sutinkate su
                  mūsų
                  <a
                    style="font-weight: 400 !important; font-size: 16px"
                    href="./privacy-policy.html"
                    target="_blank"
                    >Privatumo Politika</a
                  >
                  ir
                  <a
                    style="font-weight: 400 !important; font-size: 16px"
                    href="./cookies-policy.html"
                    target="_blank"
                    >Slapukų Politika</a
                  >.
                </h6>
              </div>
            </div>
            <div
              style="
                display: flex;
                justify-content: center;
                align-items: center;
              "
            >
              <button
                id="downloadSubmitButton"
                style="
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border-radius: 10px;
                  width: 200px;
                  height: 40px;
                  background: #ff5722;
                  border: none;
                  outline: none;
                  border-radius: 5px;
                "
              >
                <h3
                  data="sample.downloadForm.send"
                  style="font-size: 1rem; font-weight: 400; color: white"
                >
                  Prenumeruoti
                </h3>
              </button>
            </div>
          </div>
          <div
            id="successOverlay"
            style="
              position: absolute;
              display: none;
              margin: 0;
              top: 50%;
              left: 50%;
              -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
              width: 100%;
              height: 100%;
              background: rgba(0, 0, 0, 0.3);
            "
          >
            <div
              style="
                background: white;
                position: absolute;
                width: 100%;
                display: block;
                margin: 0;
                top: 50%;
                left: 50%;
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
                  rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
              "
            >
              <h2 style="padding: 3rem">Sent!</h2>
            </div>
          </div>
          <div
            id="failOverlay"
            style="
              position: absolute;
              display: none;
              margin: 0;
              top: 50%;
              left: 50%;
              -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
              width: 100%;
              height: 100%;
              background: rgba(0, 0, 0, 0.3);
            "
          >
            <div
              style="
                background: rgb(255, 195, 181);
                position: absolute;
                width: 100%;
                display: block;
                margin: 0;
                top: 50%;
                left: 50%;
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
                  rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
              "
            >
              <h2 style="padding: 3rem">Something went wrong 🤕</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
